n8n-greenhouse-integration/workflows/01-mqtt-data-pipeline.json
{
  "name": "01 - MQTT Data Pipeline (PostgreSQL)",
  "nodes": [
    {
      "parameters": {
        "topic": "greenhouse/esp32/all_sensors",
        "options": {
          "parallelProcessing": false
        }
      },
      "id": "mqtt-trigger",
      "name": "MQTT Trigger",
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "mqtt": {
          "id": "1",
          "name": "MQTT Broker"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Парсинг и валидация MQTT данных\nconst item = $input.first();\n\n// Проверка что входные данные существуют\nif (!item || !item.json) {\n  throw new Error('Нет входных данных от MQTT');\n}\n\n// Безопасное извлечение payload\nlet payload;\n\n// Вариант 1: Данные в item.json.payload (строка или объект)\nif (item.json.payload !== undefined) {\n  payload = typeof item.json.payload === 'string' \n    ? JSON.parse(item.json.payload) \n    : item.json.payload;\n}\n// Вариант 2: Данные в item.json.message\nelse if (item.json.message !== undefined) {\n  payload = typeof item.json.message === 'string'\n    ? JSON.parse(item.json.message)\n    : item.json.message;\n}\n// Вариант 3: Данные напрямую в item.json\nelse {\n  payload = item.json;\n}\n\n// Проверка что payload это объект\nif (!payload || typeof payload !== 'object') {\n  throw new Error('Некорректный формат MQTT данных: ' + typeof payload);\n}\n\n// Валидация обязательных полей\nconst requiredFields = ['timestamp', 'temperature', 'humidity', 'water_level', 'wind_speed'];\nconst missingFields = [];\n\nfor (const field of requiredFields) {\n  if (payload[field] === undefined || payload[field] === null) {\n    missingFields.push(field);\n  }\n}\n\nif (missingFields.length > 0) {\n  throw new Error(`Отсутствуют обязательные поля: ${missingFields.join(', ')}. Доступные поля: ${Object.keys(payload).join(', ')}`);\n}\n\n// Добавляем ISO timestamp для удобства\npayload.timestamp_iso = new Date(payload.timestamp * 1000).toISOString();\npayload.received_at = new Date().toISOString();\n\nconsole.log('✅ Получены данные от ESP32:', payload.timestamp_iso);\nreturn { json: payload };"
      },
      "id": "parse-validate",
      "name": "Парсинг и Валидация",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ugagro_readings (\n  timestamp, timestamp_iso, received_at,\n  temperature, humidity, water_level, wind_speed,\n  pyrano, solution_temperature, outdoor_temperature, outdoor_humidity,\n  mat_temperature, mat_hum, mat_ec, mat_ph,\n  window_position, fan_state, heat_state, pump_state, fog_state,\n  sol_heat_state, hydro_mix, fill_state,\n  fan_mode, heat_mode, fog_mode, hydro_mix_mode,\n  watering_mode, rad_sum, cycle_count, last_watering_start_unix,\n  force_watering_active, force_watering_override, force_watering_end_time_unix\n) VALUES (\n  {{ $json.timestamp }},\n  '{{ $json.timestamp_iso }}',\n  '{{ $json.received_at }}',\n  {{ $json.temperature }},\n  {{ $json.humidity }},\n  {{ $json.water_level }},\n  {{ $json.wind_speed }},\n  {{ $json.pyrano || 0 }},\n  {{ $json.solution_temperature || 'NULL' }},\n  {{ $json.outdoor_temperature || 'NULL' }},\n  {{ $json.outdoor_humidity || 'NULL' }},\n  {{ $json.mat_temperature || 'NULL' }},\n  {{ $json.mat_hum || 'NULL' }},\n  {{ $json.mat_ec || 'NULL' }},\n  {{ $json.mat_ph || 'NULL' }},\n  {{ $json.window_position || 0 }},\n  {{ $json.fan_state || false }},\n  {{ $json.heat_state || false }},\n  {{ $json.pump_state || false }},\n  {{ $json.fog_state || false }},\n  {{ $json.sol_heat_state || false }},\n  {{ $json.hydro_mix || false }},\n  {{ $json.fill_state || false }},\n  '{{ $json.fan_mode || \"auto\" }}',\n  '{{ $json.heat_mode || \"auto\" }}',\n  '{{ $json.fog_mode || \"auto\" }}',\n  '{{ $json.hydro_mix_mode || \"auto\" }}',\n  {{ $json.watering_mode || 0 }},\n  {{ $json.rad_sum || 0 }},\n  {{ $json.cycle_count || 0 }},\n  {{ $json.last_watering_start_unix || 'NULL' }},\n  {{ $json.force_watering_active || false }},\n  {{ $json.force_watering_override || false }},\n  {{ $json.force_watering_end_time_unix || 'NULL' }}\n)\nON CONFLICT (timestamp) DO UPDATE SET\n  temperature = EXCLUDED.temperature,\n  humidity = EXCLUDED.humidity,\n  water_level = EXCLUDED.water_level,\n  wind_speed = EXCLUDED.wind_speed,\n  received_at = EXCLUDED.received_at;\n\nSELECT * FROM ugagro_readings ORDER BY timestamp DESC LIMIT 1;",
        "options": {}
      },
      "id": "save-to-postgres",
      "name": "Сохранить в PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "MQTT Trigger": {
      "main": [
        [
          {
            "node": "Парсинг и Валидация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсинг и Валидация": {
      "main": [
        [
          {
            "node": "Сохранить в PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "5"
}