n8n-greenhouse-integration/workflows/02-critical-alerts-monitor.json
{
  "name": "02 - Critical Alerts Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (20 сек)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "/data/ugagro_readings.json",
        "options": {}
      },
      "id": "read-latest",
      "name": "Читать Последние Данные",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "/data/telegram_alert_states.json",
        "options": {}
      },
      "id": "read-alert-states",
      "name": "Читать Состояния Оповещений",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [650, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Проверка критических порогов и генерация оповещений\nconst dbData = $node[\"Читать Последние Данные\"].json.data;\nconst readings = typeof dbData === 'string' ? JSON.parse(dbData) : dbData;\n\nif (!readings || readings.length === 0) {\n  return [];\n}\n\nconst latest = readings[readings.length - 1];\n\n// Загрузить состояния оповещений\nlet alertStates = {};\ntry {\n  const statesData = $node[\"Читать Состояния Оповещений\"].json.data;\n  if (statesData) {\n    alertStates = typeof statesData === 'string' ? JSON.parse(statesData) : statesData;\n  }\n} catch (e) {\n  alertStates = {\n    temperature: { acknowledged: false, lastAlert: null },\n    humidity: { acknowledged: false, lastAlert: null },\n    water_level: { acknowledged: false, lastAlert: null },\n    wind_speed: { acknowledged: false, lastAlert: null }\n  };\n}\n\n// Критические пороги\nconst thresholds = {\n  temperature: { min: 10, max: 40 },\n  humidity: { min: 20, max: 85 },\n  water_level: { min: 5 },\n  wind_speed: { max: 11 }\n};\n\nconst alerts = [];\n\n// Проверка температуры\nif (latest.temperature < thresholds.temperature.min || latest.temperature > thresholds.temperature.max) {\n  if (!alertStates.temperature.acknowledged) {\n    alerts.push({\n      type: 'temperature',\n      value: latest.temperature,\n      message: `⚠️ КРИТИЧЕСКАЯ ТЕМПЕРАТУРА\\n\\n🌡️ Текущее значение: ${latest.temperature.toFixed(1)}°C\\n📊 Норма: ${thresholds.temperature.min}-${thresholds.temperature.max}°C\\n⏰ Время: ${latest.timestamp_iso}`,\n      severity: 'critical'\n    });\n  }\n} else {\n  // Сбросить acknowledged если вернулось в норму\n  alertStates.temperature.acknowledged = false;\n}\n\n// Проверка влажности\nif (latest.humidity < thresholds.humidity.min || latest.humidity > thresholds.humidity.max) {\n  if (!alertStates.humidity.acknowledged) {\n    alerts.push({\n      type: 'humidity',\n      value: latest.humidity,\n      message: `⚠️ КРИТИЧЕСКАЯ ВЛАЖНОСТЬ\\n\\n💧 Текущее значение: ${latest.humidity.toFixed(1)}%\\n📊 Норма: ${thresholds.humidity.min}-${thresholds.humidity.max}%\\n⏰ Время: ${latest.timestamp_iso}`,\n      severity: 'critical'\n    });\n  }\n} else {\n  alertStates.humidity.acknowledged = false;\n}\n\n// Проверка уровня воды\nif (latest.water_level < thresholds.water_level.min) {\n  if (!alertStates.water_level.acknowledged) {\n    alerts.push({\n      type: 'water_level',\n      value: latest.water_level,\n      message: `💧 НИЗКИЙ УРОВЕНЬ ВОДЫ\\n\\n📉 Текущее значение: ${latest.water_level.toFixed(1)}%\\n⚠️ Минимум: ${thresholds.water_level.min}%\\n⏰ Время: ${latest.timestamp_iso}`,\n      severity: 'warning'\n    });\n  }\n} else {\n  alertStates.water_level.acknowledged = false;\n}\n\n// Проверка скорости ветра\nif (latest.wind_speed > thresholds.wind_speed.max) {\n  if (!alertStates.wind_speed.acknowledged) {\n    alerts.push({\n      type: 'wind_speed',\n      value: latest.wind_speed,\n      message: `💨 СИЛЬНЫЙ ВЕТЕР\\n\\n🌪️ Текущее значение: ${latest.wind_speed.toFixed(1)} м/с\\n⚠️ Максимум: ${thresholds.wind_speed.max} м/с\\n⏰ Время: ${latest.timestamp_iso}`,\n      severity: 'warning'\n    });\n  }\n} else {\n  alertStates.wind_speed.acknowledged = false;\n}\n\n// Сохранить обновленные состояния\nreturn alerts.map(alert => ({\n  json: {\n    alert,\n    alertStates,\n    latestReading: latest\n  }\n}));"
      },
      "id": "check-thresholds",
      "name": "Проверить Пороги",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.alert ? 1 : 0 }}",
              "value2": 1
            }
          ]
        }
      },
      "id": "if-alerts",
      "name": "Есть Оповещения?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.alert.message }}",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "✅ Принято к сведению",
                  "callback_data": "ack_{{ $json.alert.type }}"
                }
              ]
            ]
          }
        }
      },
      "id": "send-telegram",
      "name": "Отправить в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "filePath": "/data/ugagro_alerts_history.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "append": true
        }
      },
      "id": "save-alert-history",
      "name": "Сохранить в Историю",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "Schedule Trigger (20 сек)": {
      "main": [
        [
          {
            "node": "Читать Последние Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать Последние Данные": {
      "main": [
        [
          {
            "node": "Читать Состояния Оповещений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать Состояния Оповещений": {
      "main": [
        [
          {
            "node": "Проверить Пороги",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверить Пороги": {
      "main": [
        [
          {
            "node": "Есть Оповещения?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть Оповещения?": {
      "main": [
        [
          {
            "node": "Отправить в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить в Telegram": {
      "main": [
        [
          {
            "node": "Сохранить в Историю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "1"
}
