n8n-greenhouse-integration/workflows/03-telegram-callback-handler.json
{
  "name": "03 - Telegram Bot Callback Handler",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "telegram-callback",
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Парсинг callback data\nconst callbackData = $json.callback_query.data;\n\nif (!callbackData || !callbackData.startsWith('ack_')) {\n  return [];\n}\n\nconst alertType = callbackData.replace('ack_', '');\nconst chatId = $json.callback_query.message.chat.id;\nconst messageId = $json.callback_query.message.message_id;\nconst userId = $json.callback_query.from.id;\nconst userName = $json.callback_query.from.first_name || 'Пользователь';\n\nreturn [{\n  json: {\n    alertType,\n    chatId,\n    messageId,\n    userId,\n    userName,\n    acknowledgedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-callback",
      "name": "Парсинг Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "/data/telegram_alert_states.json",
        "options": {}
      },
      "id": "read-states",
      "name": "Читать Состояния",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [650, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Обновить состояние acknowledged\nconst alertType = $json.alertType;\nconst acknowledgedAt = $json.acknowledgedAt;\nconst userName = $json.userName;\n\nlet alertStates = {};\ntry {\n  const statesData = $node[\"Читать Состояния\"].json.data;\n  if (statesData) {\n    alertStates = typeof statesData === 'string' ? JSON.parse(statesData) : statesData;\n  }\n} catch (e) {\n  alertStates = {};\n}\n\n// Инициализировать состояние если не существует\nif (!alertStates[alertType]) {\n  alertStates[alertType] = {};\n}\n\n// Установить acknowledged\nalertStates[alertType].acknowledged = true;\nalertStates[alertType].lastAlert = acknowledgedAt;\nalertStates[alertType].acknowledgedBy = userName;\n\nreturn [{\n  json: {\n    ...($json),\n    alertStates\n  }\n}];"
      },
      "id": "update-state",
      "name": "Обновить Состояние",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "filePath": "/data/telegram_alert_states.json",
        "fileContent": "={{ JSON.stringify($json.alertStates, null, 2) }}",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "save-states",
      "name": "Сохранить Состояния",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "editMessageText",
        "chatId": "={{ $json.chatId }}",
        "messageId": "={{ $json.messageId }}",
        "text": "={{ $node['Telegram Trigger'].json.callback_query.message.text }}\\n\\n✅ Принято к сведению пользователем {{ $json.userName }}\\n⏰ {{ $json.acknowledgedAt }}",
        "additionalFields": {}
      },
      "id": "edit-message",
      "name": "Обновить Сообщение",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 300],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "operation": "answerQuery",
        "queryId": "={{ $node['Telegram Trigger'].json.callback_query.id }}",
        "additionalFields": {
          "text": "✅ Оповещение принято к сведению"
        }
      },
      "id": "answer-callback",
      "name": "Ответить на Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1450, 300],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Парсинг Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсинг Callback": {
      "main": [
        [
          {
            "node": "Читать Состояния",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать Состояния": {
      "main": [
        [
          {
            "node": "Обновить Состояние",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить Состояние": {
      "main": [
        [
          {
            "node": "Сохранить Состояния",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить Состояния": {
      "main": [
        [
          {
            "node": "Обновить Сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить Сообщение": {
      "main": [
        [
          {
            "node": "Ответить на Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "1"
}
