n8n-greenhouse-integration/workflows/04-web-dashboard-api.json
{
  "name": "04 - Web Dashboard API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/readings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "dashboard-api"
    },
    {
      "parameters": {
        "jsCode": "// Парсинг query параметров\nconst query = $input.first().json.query || {};\nconst hours = parseInt(query.hours) || 24;\n\nreturn [{ json: { hours } }];"
      },
      "id": "parse-params",
      "name": "Парсинг Параметров",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "/data/ugagro_readings.json",
        "options": {}
      },
      "id": "read-db",
      "name": "Читать БД",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Фильтрация данных по временному диапазону\nconst hours = $json.hours;\nconst dbData = $node[\"Читать БД\"].json.data;\nlet readings = typeof dbData === 'string' ? JSON.parse(dbData) : dbData;\n\nif (!readings || readings.length === 0) {\n  return [{ json: { readings: [], count: 0, hours } }];\n}\n\n// Фильтр по времени\nconst cutoffTime = Date.now() / 1000 - (hours * 60 * 60);\nconst filtered = readings.filter(r => r.timestamp > cutoffTime);\n\n// Подготовить данные для графиков\nconst chartData = {\n  labels: filtered.map(r => r.timestamp_iso || new Date(r.timestamp * 1000).toISOString()),\n  temperature: filtered.map(r => r.temperature),\n  humidity: filtered.map(r => r.humidity),\n  water_level: filtered.map(r => r.water_level),\n  wind_speed: filtered.map(r => r.wind_speed),\n  outdoor_temperature: filtered.map(r => r.outdoor_temperature || null),\n  outdoor_humidity: filtered.map(r => r.outdoor_humidity || null)\n};\n\n// Последнее показание\nconst latest = filtered[filtered.length - 1] || null;\n\n// Статистика\nconst stats = {\n  temperature: {\n    min: Math.min(...chartData.temperature),\n    max: Math.max(...chartData.temperature),\n    avg: chartData.temperature.reduce((a, b) => a + b, 0) / chartData.temperature.length\n  },\n  humidity: {\n    min: Math.min(...chartData.humidity),\n    max: Math.max(...chartData.humidity),\n    avg: chartData.humidity.reduce((a, b) => a + b, 0) / chartData.humidity.length\n  },\n  water_level: {\n    min: Math.min(...chartData.water_level),\n    max: Math.max(...chartData.water_level),\n    avg: chartData.water_level.reduce((a, b) => a + b, 0) / chartData.water_level.length\n  },\n  wind_speed: {\n    min: Math.min(...chartData.wind_speed),\n    max: Math.max(...chartData.wind_speed),\n    avg: chartData.wind_speed.reduce((a, b) => a + b, 0) / chartData.wind_speed.length\n  }\n};\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      chartData,\n      latest,\n      stats,\n      count: filtered.length,\n      hours\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "filter-data",
      "name": "Фильтровать Данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Вернуть JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Парсинг Параметров",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсинг Параметров": {
      "main": [
        [
          {
            "node": "Читать БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать БД": {
      "main": [
        [
          {
            "node": "Фильтровать Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтровать Данные": {
      "main": [
        [
          {
            "node": "Вернуть JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "1"
}
