n8n-greenhouse-integration/workflows/04-web-dashboard-api-postgres.json
{
  "name": "04 - Web Dashboard API (PostgreSQL)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/readings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "dashboard-api"
    },
    {
      "parameters": {
        "jsCode": "// Парсинг query параметров\nconst query = $input.first().json.query || {};\nconst hours = parseInt(query.hours) || 24;\n\nreturn [{ json: { hours } }];"
      },
      "id": "parse-params",
      "name": "Парсинг Параметров",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ugagro_readings\nWHERE timestamp > EXTRACT(EPOCH FROM NOW() - INTERVAL '{{ $json.hours }} hours')\nORDER BY timestamp ASC;",
        "options": {}
      },
      "id": "get-readings",
      "name": "Получить Показания",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Формирование данных для графиков\nconst readings = $input.all().map(i => i.json);\n\nif (readings.length === 0) {\n  return [{\n    json: {\n      success: true,\n      data: {\n        chartData: { labels: [], temperature: [], humidity: [], water_level: [], wind_speed: [] },\n        latest: null,\n        stats: {},\n        count: 0,\n        hours: $node[\"Парсинг Параметров\"].json.hours\n      },\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Подготовка данных для Chart.js\nconst chartData = {\n  labels: readings.map(r => r.timestamp_iso || new Date(r.timestamp * 1000).toISOString()),\n  temperature: readings.map(r => parseFloat(r.temperature)),\n  humidity: readings.map(r => parseFloat(r.humidity)),\n  water_level: readings.map(r => parseFloat(r.water_level)),\n  wind_speed: readings.map(r => parseFloat(r.wind_speed)),\n  outdoor_temperature: readings.map(r => r.outdoor_temperature ? parseFloat(r.outdoor_temperature) : null),\n  outdoor_humidity: readings.map(r => r.outdoor_humidity ? parseFloat(r.outdoor_humidity) : null)\n};\n\n// Последнее показание\nconst latest = readings[readings.length - 1];\n\n// Статистика\nconst calcStats = (arr) => {\n  const values = arr.filter(v => v !== null && !isNaN(v));\n  if (values.length === 0) return { min: 0, max: 0, avg: 0 };\n  return {\n    min: Math.min(...values),\n    max: Math.max(...values),\n    avg: values.reduce((a, b) => a + b, 0) / values.length\n  };\n};\n\nconst stats = {\n  temperature: calcStats(chartData.temperature),\n  humidity: calcStats(chartData.humidity),\n  water_level: calcStats(chartData.water_level),\n  wind_speed: calcStats(chartData.wind_speed)\n};\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      chartData,\n      latest,\n      stats,\n      count: readings.length,\n      hours: $node[\"Парсинг Параметров\"].json.hours\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-data",
      "name": "Форматировать Данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Вернуть JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Парсинг Параметров",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсинг Параметров": {
      "main": [
        [
          {
            "node": "Получить Показания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить Показания": {
      "main": [
        [
          {
            "node": "Форматировать Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать Данные": {
      "main": [
        [
          {
            "node": "Вернуть JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "2"
}
