n8n-greenhouse-integration/workflows/05-data-rotation-cleanup.json
{
  "name": "05 - Data Rotation & Cleanup (PostgreSQL)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (02:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Вызов функции очистки старых данных\nSELECT cleanup_old_data();\n\n-- Получение статистики\nSELECT\n  (SELECT COUNT(*) FROM ugagro_readings) as total_readings,\n  (SELECT MIN(timestamp_iso) FROM ugagro_readings) as oldest_reading,\n  (SELECT COUNT(*) FROM ugagro_alerts_history) as total_alerts,\n  (SELECT MIN(created_at) FROM ugagro_alerts_history) as oldest_alert,\n  NOW() as cleanup_timestamp;",
        "options": {}
      },
      "id": "cleanup-database",
      "name": "Очистка БД",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Форматирование результатов очистки\nconst result = $input.first().json;\n\nconst message = `🧹 Очистка базы данных завершена\\n\\n` +\n  `📊 Показания датчиков: ${result.total_readings}\\n` +\n  `📅 Самое старое: ${result.oldest_reading}\\n\\n` +\n  `🚨 История оповещений: ${result.total_alerts}\\n` +\n  `📅 Самое старое: ${result.oldest_alert}\\n\\n` +\n  `⏰ Время: ${result.cleanup_timestamp}`;\n\nconsole.log(message);\n\nreturn [{\n  json: {\n    success: true,\n    stats: result,\n    message: message,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-result",
      "name": "Форматировать Результат",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Schedule Trigger (02:00)": {
      "main": [
        [
          {
            "node": "Очистка БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Очистка БД": {
      "main": [
        [
          {
            "node": "Форматировать Результат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "2"
}
