n8n-greenhouse-integration/workflows/05-data-rotation-cleanup.json
{
  "name": "05 - Data Rotation & Cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (02:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "/data/ugagro_readings.json",
        "options": {}
      },
      "id": "read-readings",
      "name": "Читать Показания",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "/data/ugagro_alerts_history.json",
        "options": {}
      },
      "id": "read-alerts",
      "name": "Читать Историю Оповещений",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [450, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Очистка старых показаний (хранить 7 дней)\nconst dbData = $node[\"Читать Показания\"].json.data;\nlet readings = typeof dbData === 'string' ? JSON.parse(dbData) : dbData;\n\nif (!readings || readings.length === 0) {\n  return [{ json: { readings: [], removed: 0 } }];\n}\n\nconst sevenDaysAgo = Date.now() / 1000 - (7 * 24 * 60 * 60);\nconst originalCount = readings.length;\n\n// Фильтрация\nreadings = readings.filter(r => r.timestamp > sevenDaysAgo);\n\nconst removed = originalCount - readings.length;\n\nreturn [{\n  json: {\n    readings,\n    removed,\n    remaining: readings.length,\n    oldestTimestamp: readings[0]?.timestamp_iso || null\n  }\n}];"
      },
      "id": "cleanup-readings",
      "name": "Очистить Показания",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Очистка старых оповещений (хранить 30 дней)\nlet alerts = [];\ntry {\n  const alertsData = $node[\"Читать Историю Оповещений\"].json.data;\n  if (alertsData) {\n    alerts = typeof alertsData === 'string' ? JSON.parse(alertsData) : alertsData;\n  }\n} catch (e) {\n  alerts = [];\n}\n\nif (!alerts || alerts.length === 0) {\n  return [{ json: { alerts: [], removed: 0 } }];\n}\n\nconst thirtyDaysAgo = Date.now() - (30 * 24 * 60 * 60 * 1000);\nconst originalCount = alerts.length;\n\n// Фильтрация\nalerts = alerts.filter(a => {\n  const timestamp = new Date(a.alert?.latestReading?.timestamp_iso || a.timestamp);\n  return timestamp.getTime() > thirtyDaysAgo;\n});\n\nconst removed = originalCount - alerts.length;\n\nreturn [{\n  json: {\n    alerts,\n    removed,\n    remaining: alerts.length\n  }\n}];"
      },
      "id": "cleanup-alerts",
      "name": "Очистить Оповещения",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 450]
    },
    {
      "parameters": {
        "operation": "write",
        "filePath": "/data/ugagro_readings.json",
        "fileContent": "={{ JSON.stringify($json.readings, null, 2) }}",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "save-readings",
      "name": "Сохранить Показания",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "filePath": "/data/ugagro_alerts_history.json",
        "fileContent": "={{ JSON.stringify($json.alerts, null, 2) }}",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "save-alerts",
      "name": "Сохранить Оповещения",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [850, 450]
    },
    {
      "parameters": {
        "jsCode": "// Создание архивной копии\nconst readingsData = $node[\"Очистить Показания\"].json;\nconst alertsData = $node[\"Очистить Оповещения\"].json;\n\nconst archiveDate = new Date().toISOString().split('T')[0];\nconst archive = {\n  date: archiveDate,\n  readings: {\n    removed: readingsData.removed,\n    remaining: readingsData.remaining\n  },\n  alerts: {\n    removed: alertsData.removed,\n    remaining: alertsData.remaining\n  },\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: archive }];"
      },
      "id": "create-archive",
      "name": "Создать Архив",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 375]
    },
    {
      "parameters": {
        "operation": "write",
        "filePath": "/data/cleanup_log.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}\\n",
        "options": {
          "append": true,
          "encoding": "utf8"
        }
      },
      "id": "save-log",
      "name": "Сохранить Лог",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1250, 375]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🧹 ЕЖЕДНЕВНАЯ ОЧИСТКА ДАННЫХ\\n\\n📊 Показания:\\n  • Удалено: {{ $json.readings.removed }}\\n  • Осталось: {{ $json.readings.remaining }}\\n\\n🔔 Оповещения:\\n  • Удалено: {{ $json.alerts.removed }}\\n  • Осталось: {{ $json.alerts.remaining }}\\n\\n⏰ {{ $json.timestamp }}",
        "additionalFields": {}
      },
      "id": "notify-telegram",
      "name": "Уведомить в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1450, 375],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (02:00)": {
      "main": [
        [
          {
            "node": "Читать Показания",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать Историю Оповещений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать Показания": {
      "main": [
        [
          {
            "node": "Очистить Показания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать Историю Оповещений": {
      "main": [
        [
          {
            "node": "Очистить Оповещения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Очистить Показания": {
      "main": [
        [
          {
            "node": "Сохранить Показания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Очистить Оповещения": {
      "main": [
        [
          {
            "node": "Сохранить Оповещения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить Показания": {
      "main": [
        [
          {
            "node": "Создать Архив",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить Оповещения": {
      "main": [
        [
          {
            "node": "Создать Архив",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создать Архив": {
      "main": [
        [
          {
            "node": "Сохранить Лог",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить Лог": {
      "main": [
        [
          {
            "node": "Уведомить в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "1"
}
