n8n-greenhouse-integration/workflows/06-web-dashboard-simple.json
{
  "name": "06 - Web Dashboard Simple (PostgreSQL) v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ugagro_readings\nWHERE timestamp > EXTRACT(EPOCH FROM NOW() - INTERVAL '24 hours')\nORDER BY timestamp ASC;",
        "options": {}
      },
      "id": "get-readings",
      "name": "Получить Данные",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных для всех метрик\nconst readings = $input.all().map(i => i.json);\n\n// Значения по умолчанию если нет данных\nconst defaultData = {\n  temperature: 0,\n  humidity: 0,\n  water_level: 0,\n  wind_speed: 0,\n  outdoor_temperature: 0,\n  outdoor_humidity: 0,\n  solar_radiation: 0,\n  mat_temperature: 0,\n  mat_ec: 0,\n  solution_temperature: 0,\n  pyranometer: 0,\n  window_position: 0,\n  fan_state: 0,\n  fan_mode: 'unknown',\n  heat_state: 0,\n  heat_mode: 'auto',\n  pump_state: 0,\n  watering_mode: 0,\n  fog_state: 0,\n  fog_mode: 'auto',\n  hydro_mix: 0,\n  hydro_mix_mode: 'auto'\n};\n\n// Получаем последнее показание и преобразуем все значения\nlet latest;\nif (readings.length > 0) {\n  const lastReading = readings[readings.length - 1];\n  latest = {\n    temperature: parseFloat(lastReading.temperature) || 0,\n    humidity: parseFloat(lastReading.humidity) || 0,\n    water_level: parseFloat(lastReading.water_level) || 0,\n    wind_speed: parseFloat(lastReading.wind_speed) || 0,\n    outdoor_temperature: parseFloat(lastReading.outdoor_temperature) || 0,\n    outdoor_humidity: parseFloat(lastReading.outdoor_humidity) || 0,\n    solar_radiation: parseFloat(lastReading.solar_radiation) || 0,\n    mat_temperature: parseFloat(lastReading.mat_temperature) || 0,\n    mat_ec: parseFloat(lastReading.mat_ec) || 0,\n    solution_temperature: parseFloat(lastReading.solution_temperature) || 0,\n    pyranometer: parseFloat(lastReading.pyranometer) || 0,\n    window_position: parseFloat(lastReading.window_position) || 0,\n    fan_state: parseInt(lastReading.fan_state) || 0,\n    fan_mode: lastReading.fan_mode || 'unknown',\n    heat_state: parseInt(lastReading.heat_state) || 0,\n    heat_mode: lastReading.heat_mode || 'auto',\n    pump_state: parseInt(lastReading.pump_state) || 0,\n    watering_mode: parseInt(lastReading.watering_mode) || 0,\n    fog_state: parseInt(lastReading.fog_state) || 0,\n    fog_mode: lastReading.fog_mode || 'auto',\n    hydro_mix: parseInt(lastReading.hydro_mix) || 0,\n    hydro_mix_mode: lastReading.hydro_mix_mode || 'auto'\n  };\n} else {\n  latest = defaultData;\n}\n\n// Подготовка данных для графиков\nconst chartData = {\n  labels: readings.map(r => r.timestamp_iso),\n  temperature: readings.map(r => parseFloat(r.temperature) || 0),\n  humidity: readings.map(r => parseFloat(r.humidity) || 0),\n  water_level: readings.map(r => parseFloat(r.water_level) || 0),\n  wind_speed: readings.map(r => parseFloat(r.wind_speed) || 0),\n  outdoor_temperature: readings.map(r => parseFloat(r.outdoor_temperature) || 0),\n  outdoor_humidity: readings.map(r => parseFloat(r.outdoor_humidity) || 0),\n  solar_radiation: readings.map(r => parseFloat(r.solar_radiation) || 0),\n  mat_temperature: readings.map(r => parseFloat(r.mat_temperature) || 0),\n  mat_ec: readings.map(r => parseFloat(r.mat_ec) || 0),\n  solution_temperature: readings.map(r => parseFloat(r.solution_temperature) || 0),\n  pyranometer: readings.map(r => parseFloat(r.pyranometer) || 0),\n  window_position: readings.map(r => parseFloat(r.window_position) || 0)\n};\n\nreturn [{\n  json: {\n    latest: latest,\n    chartData: chartData,\n    count: readings.length\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Подготовить Данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из предыдущей ноды\nconst data = $input.first().json;\nconst latest = data.latest;\nconst chartData = data.chartData;\n\n// Функция определения статуса сенсора\nfunction getSensorStatus(type, value) {\n  const thresholds = {\n    temperature: { min: 10, max: 40 },\n    humidity: { min: 20, max: 85 },\n    water_level: { min: 5 },\n    wind_speed: { max: 11 }\n  };\n  \n  if (type === 'temperature') {\n    if (value < thresholds.temperature.min || value > thresholds.temperature.max) {\n      return 'critical';\n    }\n  } else if (type === 'humidity') {\n    if (value < thresholds.humidity.min || value > thresholds.humidity.max) {\n      return 'critical';\n    }\n  } else if (type === 'water_level') {\n    if (value < thresholds.water_level.min) return 'critical';\n    if (value < 15) return 'warning';\n  } else if (type === 'wind_speed') {\n    if (value > thresholds.wind_speed.max) return 'critical';\n    if (value > 8) return 'warning';\n  }\n  return 'normal';\n}\n\n// Функция получения класса режима оборудования\nfunction getModeClass(mode) {\n  if (mode === 'auto') return 'mode-auto';\n  if (mode === 'manual') return 'mode-manual';\n  if (mode === 'forced') return 'mode-forced';\n  return 'mode-unknown';\n}\n\n// Генерация HTML с полным функционалом\nconst html = `<!DOCTYPE html>\n<html lang=\"ru\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Умная теплица 1</title>\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css\" rel=\"stylesheet\">\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js\"></script>\n    <style>\n        :root {\n            --bg-primary: #ffffff;\n            --bg-secondary: #f8f9fa;\n            --text-primary: #212529;\n            --text-secondary: #6c757d;\n            --border-color: #dee2e6;\n            --card-bg: #ffffff;\n            --card-shadow: 0 2px 8px rgba(0,0,0,0.1);\n            --gradient-success: linear-gradient(135deg, #28a745 0%, #20c997 100%);\n            --gradient-info: linear-gradient(135deg, #17a2b8 0%, #3498db 100%);\n            --gradient-warning: linear-gradient(135deg, #ffc107 0%, #ff9800 100%);\n            --gradient-danger: linear-gradient(135deg, #dc3545 0%, #e74c3c 100%);\n        }\n        \n        [data-theme=\"dark\"] {\n            --bg-primary: #1a1d23;\n            --bg-secondary: #242830;\n            --text-primary: #e9ecef;\n            --text-secondary: #adb5bd;\n            --border-color: #495057;\n            --card-bg: #2d3238;\n            --card-shadow: 0 2px 8px rgba(0,0,0,0.3);\n        }\n        \n        [data-theme=\"dark\"] .sensor-card h6 {\n            color: var(--text-secondary) !important;\n        }\n        \n        [data-theme=\"dark\"] .sensor-card h2 {\n            color: var(--text-primary) !important;\n        }\n        \n        [data-theme=\"dark\"] .card-header h5 {\n            color: var(--text-primary) !important;\n        }\n        [data-theme=\"dark\"] .equipment-item {\n            color: var(--text-primary);\n        }\n\n        [data-theme=\"dark\"] .equipment-item > div:not(.equipment-icon):not(.equipment-state) {\n            color: var(--text-secondary);\n        }\n\n        [data-theme=\"dark\"] .equipment-state {\n            color: var(--text-primary) !important;\n        }\n        \n        body {\n            background: var(--bg-secondary);\n            color: var(--text-primary);\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            transition: background 0.3s, color 0.3s;\n        }\n        \n        .navbar {\n            background: var(--gradient-success) !important;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n        }\n        \n        .sensor-card {\n            background: var(--bg-primary);\n            border-radius: 12px;\n            box-shadow: var(--card-shadow);\n            margin-bottom: 20px;\n            border: none;\n            transition: transform 0.2s, box-shadow 0.2s;\n        }\n        \n        .sensor-card:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 4px 12px rgba(0,0,0,0.15);\n        }\n        \n        .sensor-card.normal { border-left: 4px solid #28a745; }\n        .sensor-card.warning { border-left: 4px solid #ffc107; }\n        .sensor-card.critical { border-left: 4px solid #dc3545; }\n        \n        .chart-card {\n            background: var(--bg-primary);\n            border-radius: 12px;\n            box-shadow: var(--card-shadow);\n            border: none;\n        }\n        \n        .metric-checkboxes {\n            display: flex;\n            flex-wrap: wrap;\n            gap: 15px;\n            margin-bottom: 15px;\n            padding: 10px;\n            background: var(--bg-secondary);\n            border-radius: 8px;\n        }\n        \n        .metric-checkbox-label {\n            display: flex;\n            align-items: center;\n            gap: 6px;\n            padding: 6px 12px;\n            background: var(--bg-primary);\n            border: 2px solid var(--border-color);\n            border-radius: 6px;\n            cursor: pointer;\n            transition: all 0.2s;\n            font-size: 14px;\n            color: var(--text-primary);\n        }\n        \n        .metric-checkbox-label:hover {\n            border-color: #28a745;\n            background: var(--card-bg);\n        }\n        \n        .metric-checkbox-label input[type=\"checkbox\"] {\n            cursor: pointer;\n            width: 16px;\n            height: 16px;\n        }\n        \n        .metric-checkbox-label input[type=\"checkbox\"]:checked {\n            accent-color: #28a745;\n        }\n        \n        .metric-checkbox-label.checked {\n            background: var(--gradient-success);\n            color: white;\n            border-color: transparent;\n            font-weight: 600;\n        }\n        \n        .time-controls {\n            display: flex;\n            gap: 8px;\n            margin-bottom: 15px;\n            flex-wrap: wrap;\n        }\n        \n        .time-btn {\n            padding: 6px 12px;\n            background: var(--bg-secondary);\n            border: 1px solid var(--border-color);\n            border-radius: 6px;\n            cursor: pointer;\n            transition: all 0.2s;\n            color: var(--text-primary);\n            font-size: 13px;\n        }\n        \n        .time-btn:hover {\n            background: var(--gradient-info);\n            color: white;\n            border-color: transparent;\n        }\n        \n        .time-btn.active {\n            background: var(--gradient-success);\n            color: white;\n            border-color: transparent;\n            font-weight: 600;\n        }\n        \n        select {\n            color: var(--text-primary);\n            background-color: var(--card-bg);\n        }\n        \n        select option {\n            color: var(--text-primary);\n            background-color: var(--card-bg);\n        }\n        \n        .equipment-status {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));\n            gap: 15px;\n            margin-top: 20px;\n        }\n        \n        .equipment-item {\n            background: var(--bg-primary);\n            padding: 15px;\n            border-radius: 10px;\n            box-shadow: var(--card-shadow);\n            text-align: center;\n        }\n        \n        .equipment-icon {\n            font-size: 32px;\n            margin-bottom: 8px;\n        }\n        \n        .equipment-state {\n            font-weight: 600;\n            font-size: 18px;\n        }\n        \n        .mode-badge {\n            display: inline-block;\n            padding: 4px 8px;\n            border-radius: 12px;\n            font-size: 11px;\n            font-weight: 600;\n            margin-top: 5px;\n        }\n        \n        .mode-auto { background: #28a745; color: white; }\n        .mode-manual { background: #ffc107; color: #333; }\n        .mode-forced { background: #dc3545; color: white; }\n        .mode-unknown { background: #6c757d; color: white; }\n        \n        .theme-toggle {\n            background: rgba(255,255,255,0.2);\n            border: none;\n            color: white;\n            padding: 8px 12px;\n            border-radius: 6px;\n            cursor: pointer;\n            transition: all 0.2s;\n        }\n        \n        .theme-toggle:hover {\n            background: rgba(255,255,255,0.3);\n        }\n        \n        .additional-readings {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 15px;\n            margin-top: 20px;\n        }\n        \n        .reading-item {\n            background: var(--bg-primary);\n            padding: 12px;\n            border-radius: 8px;\n            box-shadow: var(--card-shadow);\n        }\n        \n        .reading-label {\n            color: var(--text-secondary);\n            font-size: 12px;\n            margin-bottom: 4px;\n        }\n        \n        .reading-value {\n            font-size: 20px;\n            font-weight: 600;\n            color: var(--text-primary);\n        }\n        \n        @keyframes pulse {\n            0%, 100% { opacity: 1; }\n            50% { opacity: 0.6; }\n        }\n        \n        .online-indicator {\n            animation: pulse 2s infinite;\n        }\n    </style>\n</head>\n<body>\n    <nav class=\"navbar navbar-dark\">\n        <div class=\"container-fluid\">\n            <span class=\"navbar-brand mb-0 h1\">\n                <i class=\"bi bi-tree\"></i> Умная теплица 1\n            </span>\n            <div class=\"d-flex gap-2 align-items-center\">\n                <button class=\"theme-toggle\" onclick=\"toggleTheme()\">\n                    <i class=\"bi bi-moon-stars\" id=\"theme-icon\"></i>\n                </button>\n                <span class=\"badge bg-light text-dark online-indicator\">\n                    <i class=\"bi bi-circle-fill text-success\"></i> Онлайн\n                </span>\n            </div>\n        </div>\n    </nav>\n\n    <div class=\"container-fluid py-4\">\n        <!-- Main Sensor Cards -->\n        <div class=\"row mb-4\">\n            <div class=\"col-md-3 col-sm-6\">\n                <div class=\"card sensor-card ${getSensorStatus('temperature', latest.temperature)}\">\n                    <div class=\"card-body\">\n                        <div class=\"d-flex justify-content-between align-items-center\">\n                            <div>\n                                <h6 class=\"text-muted mb-1\"><i class=\"bi bi-thermometer-half\"></i> Температура</h6>\n                                <h2 class=\"mb-0\">${latest.temperature.toFixed(1)}°C</h2>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-3 col-sm-6\">\n                <div class=\"card sensor-card ${getSensorStatus('humidity', latest.humidity)}\">\n                    <div class=\"card-body\">\n                        <div class=\"d-flex justify-content-between align-items-center\">\n                            <div>\n                                <h6 class=\"text-muted mb-1\"><i class=\"bi bi-droplet-half\"></i> Влажность</h6>\n                                <h2 class=\"mb-0\">${latest.humidity.toFixed(1)}%</h2>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-3 col-sm-6\">\n                <div class=\"card sensor-card ${getSensorStatus('temperature', latest.outdoor_temperature)}\">\n                    <div class=\"card-body\">\n                        <div class=\"d-flex justify-content-between align-items-center\">\n                            <div>\n                                <h6 class=\"text-muted mb-1\"><i class=\"bi bi-thermometer\"></i> Темп. Улица</h6>\n                                <h2 class=\"mb-0\">${latest.outdoor_temperature ? latest.outdoor_temperature.toFixed(1) : '0.0'}°C</h2>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-3 col-sm-6\">\n                <div class=\"card sensor-card normal\">\n                    <div class=\"card-body\">\n                        <div class=\"d-flex justify-content-between align-items-center\">\n                            <div>\n                                <h6 class=\"text-muted mb-1\"><i class=\"bi bi-sun\"></i> Солн. Радиация</h6>\n                                <h2 class=\"mb-0\">${latest.solar_radiation ? latest.solar_radiation.toFixed(0) : '0'} Вт/м²</h2>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Additional Readings -->\n        <div class=\"row mb-4\">\n            <div class=\"col-12\">\n                <div class=\"card chart-card\">\n                    <div class=\"card-header\">\n                        <h5 class=\"mb-0\"><i class=\"bi bi-list-ul\"></i> Дополнительные Показания</h5>\n                    </div>\n                    <div class=\"card-body\">\n                        <div class=\"additional-readings\">\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Влажн. Улица</div>\n                                <div class=\"reading-value\">${latest.outdoor_humidity ? latest.outdoor_humidity.toFixed(1) : '0.0'}%</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Темп. Мата</div>\n                                <div class=\"reading-value\">${latest.mat_temperature ? latest.mat_temperature.toFixed(1) : '0.0'}°C</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">EC Мата</div>\n                                <div class=\"reading-value\">${latest.mat_ec ? latest.mat_ec.toFixed(2) : '0.00'} mS/cm</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Темп. Раствора</div>\n                                <div class=\"reading-value\">${latest.solution_temperature ? latest.solution_temperature.toFixed(1) : '0.0'}°C</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Позиция Окна</div>\n                                <div class=\"reading-value\">${latest.window_position ? latest.window_position.toFixed(0) : '0'}%</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Уровень Воды</div>\n                                <div class=\"reading-value\">${latest.water_level ? latest.water_level.toFixed(1) : '0.0'}%</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Скорость Ветра</div>\n                                <div class=\"reading-value\">${latest.wind_speed ? latest.wind_speed.toFixed(1) : '0.0'} м/с</div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Unified Chart -->\n        <div class=\"row mb-4\">\n            <div class=\"col-12\">\n                <div class=\"card chart-card\">\n                    <div class=\"card-header\">\n                        <div class=\"d-flex justify-content-between align-items-center flex-wrap gap-2\">\n                            <h5 class=\"mb-0\"><i class=\"bi bi-graph-up\"></i> Графики Показаний</h5>\n                            <button class=\"btn btn-sm btn-success\" onclick=\"exportCSV()\">\n                                <i class=\"bi bi-download\"></i> Экспорт CSV\n                            </button>\n                        </div>\n                    </div>\n                    <div class=\"card-body\">\n                        <div class=\"metric-checkboxes\">\n                            <label class=\"metric-checkbox-label checked\">\n                                <input type=\"checkbox\" value=\"temperature\" checked onchange=\"toggleMetric(this)\"> Температура\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"humidity\" onchange=\"toggleMetric(this)\"> Влажность\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"outdoor_temp\" onchange=\"toggleMetric(this)\"> Темп. Улица\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"outdoor_hum\" onchange=\"toggleMetric(this)\"> Влажн. Улица\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"solar\" onchange=\"toggleMetric(this)\"> Солн. Радиация\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"mat_temp\" onchange=\"toggleMetric(this)\"> Темп. Мата\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"mat_ec\" onchange=\"toggleMetric(this)\"> EC Мата\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"solution_temp\" onchange=\"toggleMetric(this)\"> Темп. Раствора\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"water\" onchange=\"toggleMetric(this)\"> Уровень Воды\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"wind\" onchange=\"toggleMetric(this)\"> Ветер\n                            </label>\n                            <label class=\"metric-checkbox-label\">\n                                <input type=\"checkbox\" value=\"window\" onchange=\"toggleMetric(this)\"> Позиция Окна\n                            </label>\n                        </div>\n                        <div class=\"time-controls\">\n                            <button class=\"time-btn active\" onclick=\"setTimeRange('hour')\" data-range=\"hour\">1 час</button>\n                            <button class=\"time-btn\" onclick=\"setTimeRange('day')\" data-range=\"day\">1 день</button>\n                            <button class=\"time-btn\" onclick=\"setTimeRange('3days')\" data-range=\"3days\">3 дня</button>\n                            <button class=\"time-btn\" onclick=\"setTimeRange('week')\" data-range=\"week\">Неделя</button>\n                            <button class=\"time-btn\" onclick=\"setTimeRange('all')\" data-range=\"all\">Все данные</button>\n                            <select class=\"time-btn\" onchange=\"setMonth(this.value)\">\n                                <option value=\"\">Выбрать месяц</option>\n                                <option value=\"0\">Январь</option>\n                                <option value=\"1\">Февраль</option>\n                                <option value=\"2\">Март</option>\n                                <option value=\"3\">Апрель</option>\n                                <option value=\"4\">Май</option>\n                                <option value=\"5\">Июнь</option>\n                                <option value=\"6\">Июль</option>\n                                <option value=\"7\">Август</option>\n                                <option value=\"8\">Сентябрь</option>\n                                <option value=\"9\">Октябрь</option>\n                                <option value=\"10\">Ноябрь</option>\n                                <option value=\"11\">Декабрь</option>\n                            </select>\n                            <select class=\"time-btn\" onchange=\"setYear(this.value)\">\n                                <option value=\"\">Выбрать год</option>\n                                <option value=\"2025\">2025</option>\n                                <option value=\"2024\">2024</option>\n                                <option value=\"2023\">2023</option>\n                            </select>\n                        </div>\n                        <canvas id=\"mainChart\"></canvas>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Equipment Status -->\n        <div class=\"row mb-4\">\n            <div class=\"col-12\">\n                <div class=\"card chart-card\">\n                    <div class=\"card-header\">\n                        <h5 class=\"mb-0\"><i class=\"bi bi-gear-fill\"></i> Состояние Оборудования</h5>\n                    </div>\n                    <div class=\"card-body\">\n                        <div class=\"equipment-status\">\n                            <div class=\"equipment-item\">\n                                <div class=\"equipment-icon\"><i class=\"bi bi-fan\"></i></div>\n                                <div class=\"equipment-state\">${latest.fan_state !== undefined ? (latest.fan_state ? 'ВКЛ' : 'ВЫКЛ') : 'Н/Д'}</div>\n                                <div>Вентилятор</div>\n                                ${latest.fan_mode && latest.fan_mode !== 'unknown' ? `<span class=\"mode-badge ${getModeClass(latest.fan_mode)}\">${latest.fan_mode.toUpperCase()}</span>` : ''}\n                            </div>\n                            <div class=\"equipment-item\">\n                                <div class=\"equipment-icon\"><i class=\"bi bi-fire\"></i></div>\n                                <div class=\"equipment-state\">${latest.heat_state !== undefined ? (latest.heat_state ? 'ВКЛ' : 'ВЫКЛ') : 'Н/Д'}</div>\n                                <div>Отопление</div>\n                                ${latest.heat_mode ? `<span class=\"mode-badge ${getModeClass(latest.heat_mode)}\">${latest.heat_mode.toUpperCase()}</span>` : ''}\n                            </div>\n                            <div class=\"equipment-item\">\n                                <div class=\"equipment-icon\"><i class=\"bi bi-droplet-fill\"></i></div>\n                                <div class=\"equipment-state\">${latest.pump_state !== undefined ? (latest.pump_state ? 'ВКЛ' : 'ВЫКЛ') : 'Н/Д'}</div>\n                                <div>Полив</div>\n                                ${latest.watering_mode !== undefined ? `<span class=\"mode-badge ${getModeClass(latest.watering_mode === 0 ? 'auto' : (latest.watering_mode === 1 ? 'manual' : 'forced'))}\">${latest.watering_mode === 0 ? 'AUTO' : (latest.watering_mode === 1 ? 'MANUAL' : 'FORCED')}</span>` : ''}\n                            </div>\n                            <div class=\"equipment-item\">\n                                <div class=\"equipment-icon\"><i class=\"bi bi-cloud-drizzle\"></i></div>\n                                <div class=\"equipment-state\">${latest.fog_state !== undefined ? (latest.fog_state ? 'ВКЛ' : 'ВЫКЛ') : 'Н/Д'}</div>\n                                <div>Туман</div>\n                                ${latest.fog_mode ? `<span class=\"mode-badge ${getModeClass(latest.fog_mode)}\">${latest.fog_mode.toUpperCase()}</span>` : ''}\n                            </div>\n                            <div class=\"equipment-item\">\n                                <div class=\"equipment-icon\"><i class=\"bi bi-tsunami\"></i></div>\n                                <div class=\"equipment-state\">${latest.hydro_mix !== undefined ? (latest.hydro_mix ? 'ВКЛ' : 'ВЫКЛ') : 'Н/Д'}</div>\n                                <div>Гидроразмешивание</div>\n                                ${latest.hydro_mix_mode ? `<span class=\"mode-badge ${getModeClass(latest.hydro_mix_mode)}\">${latest.hydro_mix_mode.toUpperCase()}</span>` : ''}\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Footer -->\n        <div class=\"row\">\n            <div class=\"col-md-12 text-center\">\n                <small class=\"text-muted\">Показано записей: ${data.count} | Последнее обновление: <span id=\"lastUpdate\"></span></small>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        // Данные графиков\n        const rawChartData = ${JSON.stringify(chartData)};\n        let currentChart = null;\n        \n        // Переменные состояния (без localStorage из-за sandbox ограничений)\n        let selectedMetrics = ['temperature'];\n        let currentTimeRange = 'hour';\n        \n        // Конфигурация метрик\n        const metricConfigs = {\n            temperature: { label: 'Температура (°C)', color: '#dc3545', data: 'temperature' },\n            humidity: { label: 'Влажность (%)', color: '#17a2b8', data: 'humidity' },\n            outdoor_temp: { label: 'Темп. Улица (°C)', color: '#ff6384', data: 'outdoor_temperature' },\n            outdoor_hum: { label: 'Влажн. Улица (%)', color: '#36a2eb', data: 'outdoor_humidity' },\n            solar: { label: 'Солн. Радиация (Вт/м²)', color: '#ffc107', data: 'solar_radiation' },\n            mat_temp: { label: 'Темп. Мата (°C)', color: '#e91e63', data: 'mat_temperature' },\n            mat_ec: { label: 'EC Мата (mS/cm)', color: '#673ab7', data: 'mat_ec' },\n            solution_temp: { label: 'Темп. Раствора (°C)', color: '#9c27b0', data: 'solution_temperature' },\n            water: { label: 'Уровень Воды (%)', color: '#007bff', data: 'water_level' },\n            wind: { label: 'Скорость Ветра (м/с)', color: '#28a745', data: 'wind_speed' },\n            window: { label: 'Позиция Окна (%)', color: '#3f51b5', data: 'window_position' }\n        };\n        \n        // Функция переключения темы\n        function toggleTheme() {\n            const html = document.documentElement;\n            const currentTheme = html.getAttribute('data-theme');\n            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';\n            html.setAttribute('data-theme', newTheme);\n            const icon = document.getElementById('theme-icon');\n            icon.className = newTheme === 'dark' ? 'bi bi-sun' : 'bi bi-moon-stars';\n            \n            // Обновляем график с новыми цветами темы\n            if (currentChart) {\n                updateChart();\n            }\n        }\n        \n        // Загрузка темы (light по умолчанию)\n        document.documentElement.setAttribute('data-theme', 'light');\n        \n        // Функция переключения метрик\n        function toggleMetric(checkbox) {\n            const metric = checkbox.value;\n            const label = checkbox.parentElement;\n            \n            if (checkbox.checked) {\n                // Добавляем только если еще нет\n                if (!selectedMetrics.includes(metric)) {\n                    selectedMetrics.push(metric);\n                }\n                label.classList.add('checked');\n            } else {\n                selectedMetrics = selectedMetrics.filter(m => m !== metric);\n                label.classList.remove('checked');\n            }\n            \n            // Если не выбрано ни одной метрики, выбираем температуру\n            if (selectedMetrics.length === 0) {\n                selectedMetrics = ['temperature'];\n                const tempCheckbox = document.querySelector('input[value=\"temperature\"]');\n                const tempLabel = tempCheckbox.parentElement;\n                tempCheckbox.checked = true;\n                tempLabel.classList.add('checked');\n            }\n            \n            updateChart()\n        }\n        \n        // Функция установки временного диапазона\n        function setTimeRange(range) {\n            currentTimeRange = range;\n            document.querySelectorAll('.time-btn[data-range]').forEach(btn => {\n                btn.classList.remove('active');\n            });\n            document.querySelector('[data-range=\"' + range + '\"]'). classList.add('active');\n\n            updateChart();\n        }\n        \n        // Функция установки месяца\n        function setMonth(month) {\n            if (month) {\n                currentTimeRange = 'month';\n                document.querySelectorAll('.time-btn[data-range]').forEach(btn => btn.classList.remove('active'));\n                // Filter data by month\n                updateChart(parseInt(month));\n            }\n        }\n        \n        // Функция установки года\n        function setYear(year) {\n            if (year) {\n                currentTimeRange = 'year';\n                document.querySelectorAll('.time-btn[data-range]').forEach(btn => btn.classList.remove('active'));\n                // Filter data by year\n                updateChart(null, parseInt(year));\n            }\n        }\n        \n        // Функция фильтрации данных по времени\n        function filterDataByTime(month = null, year = null) {\n            const now = new Date();\n            let filteredIndices = [];\n            \n            for (let i = 0; i < rawChartData.labels.length; i++) {\n                const date = new Date(rawChartData.labels[i]);\n                let include = false;\n                \n                if (month !== null) {\n                    include = date.getMonth() === month;\n                } else if (year !== null) {\n                    include = date.getFullYear() === year;\n                } else {\n                    const diffMs = now - date;\n                    const diffHours = diffMs / (1000 * 60 * 60);\n                    \n                    switch(currentTimeRange) {\n                        case 'hour':\n                            include = diffHours <= 1;\n                            break;\n                        case 'day':\n                            include = diffHours <= 24;\n                            break;\n                        case '3days':\n                            include = diffHours <= 72;\n                            break;\n                        case 'week':\n                            include = diffHours <= 168;\n                            break;\n                        case 'all':\n                        default:\n                            include = true;\n                            break;\n                    }\n                }\n                \n                if (include) {\n                    filteredIndices.push(i);\n                }\n            }\n            \n            return filteredIndices;\n        }\n        \n        // Функция обновления графика\n        function updateChart(month = null, year = null) {\n            const filteredIndices = filterDataByTime(month, year);\n            \n            const labels = filteredIndices.map(i => {\n                const date = new Date(rawChartData.labels[i]);\n                return date.toLocaleTimeString('ru-RU', { \n                    hour: '2-digit', \n                    minute: '2-digit',\n                    day: '2-digit',\n                    month: '2-digit'\n                });\n            });\n            \n            const datasets = selectedMetrics.map(metric => {\n                const config = metricConfigs[metric];\n                if (!config) return null;\n                \n                const data = filteredIndices.map(i => rawChartData[config.data][i] || 0);\n                return {\n                    label: config.label,\n                    data: data,\n                    borderColor: config.color,\n                    backgroundColor: config.color + '20',\n                    tension: 0.6,\n                    fill: false,\n                    borderWidth: 2,\n                    pointRadius: 0\n                };\n            }).filter(d => d !== null);\n            \n            const textColor = getComputedStyle(document.documentElement).getPropertyValue('--text-primary');\n            const secondaryColor = getComputedStyle(document.documentElement).getPropertyValue('--text-secondary');\n            \n            if (currentChart) {\n                currentChart.destroy();\n            }\n            \n            const ctx = document.getElementById('mainChart');\n            currentChart = new Chart(ctx, {\n                type: 'line',\n                data: {\n                    labels: labels,\n                    datasets: datasets\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    interaction: {\n                        mode: 'index',\n                        intersect: false\n                    },\n                    plugins: {\n                        legend: {\n                            display: true,\n                            position: 'top',\n                            labels: {\n                                color: textColor,\n                                padding: 15,\n                                font: {\n                                    size: 12\n                                }\n                            }\n                        },\n                        tooltip: {\n                            backgroundColor: 'rgba(0,0,0,0.8)',\n                            padding: 12,\n                            titleFont: {\n                                size: 14\n                            },\n                            bodyFont: {\n                                size: 13\n                            }\n                        }\n                    },\n                    scales: {\n                        x: {\n                            ticks: {\n                                color: secondaryColor,\n                                maxRotation: 45,\n                                minRotation: 0\n                            },\n                            grid: {\n                                color: 'rgba(0,0,0,0.05)'\n                            }\n                        },\n                        y: {\n                            ticks: {\n                                color: secondaryColor\n                            },\n                            grid: {\n                                color: 'rgba(0,0,0,0.05)'\n                            }\n                        }\n                    }\n                }\n            });\n            \n        }\n        \n        // Функция экспорта в CSV\n        function exportCSV() {\n            let csv = 'Timestamp,';\n            const metrics = ['temperature', 'humidity', 'water_level', 'wind_speed', 'outdoor_temperature', \n                           'outdoor_humidity', 'solar_radiation', 'mat_temperature', 'mat_ec', \n                           'solution_temperature', 'window_position'];\n            csv += metrics.join(',') + '\\\\n';\n            \n            for (let i = 0; i < rawChartData.labels.length; i++) {\n                csv += rawChartData.labels[i] + ',';\n                metrics.forEach(metric => {\n                    csv += (rawChartData[metric][i] || 0) + ',';\n                });\n                csv += '\\\\n';\n            }\n            \n            const blob = new Blob([csv], { type: 'text/csv' });\n            const url = window.URL.createObjectURL(blob);\n            const a = document.createElement('a');\n            a.href = url;\n            a.download = 'greenhouse_data_' + new Date().toISOString().split('T')[0] + '.csv';\n            a.click();\n        }\n        \n        // Обновление времени последнего обновления\n        function updateLastUpdateTime() {\n            const now = new Date();\n            document.getElementById('lastUpdate').textContent = now.toLocaleString('ru-RU');\n        }\n        \n        // Обновляем UI чекбоксов и кнопок согласно восстановленному состоянию\n        document.querySelectorAll('.metric-checkbox-label').forEach(label => {\n            const checkbox = label.querySelector('input[type=\"checkbox\"]');\n            const isSelected = selectedMetrics.includes(checkbox.value);\n\n            checkbox.checked = isSelected;\n            if (isSelected) {\n                label.classList.add('checked');\n            } else {\n                label.classList.remove('checked');\n            }\n        });\n        \n        document.querySelectorAll('.time-btn[data-range]').forEach(btn => {\n            btn.classList.remove('active');\n        });\n        const activeBtn = document.querySelector('[data-range=\"' + currentTimeRange + '\"]');\n        if (activeBtn) {\n            activeBtn.classList.add('active');\n        }\n        \n        // Инициализация графика с восстановленными настройками\n        updateChart();\n        updateLastUpdateTime();\n    </script>\n</body>\n</html>`;\n\nreturn [{ json: { html: html } }];"
      },
      "id": "generate-html",
      "name": "Генерация HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Получить Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить Данные": {
      "main": [
        [
          {
            "node": "Подготовить Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить Данные": {
      "main": [
        [
          {
            "node": "Генерация HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "2"
}