n8n-greenhouse-integration/workflows/06-web-dashboard-simple-postgres-v2.json
{
  "name": "06 - Web Dashboard Simple (PostgreSQL) v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ugagro_readings\nWHERE timestamp > EXTRACT(EPOCH FROM NOW() - INTERVAL '24 hours')\nORDER BY timestamp ASC;",
        "options": {}
      },
      "id": "get-readings",
      "name": "Получить Данные",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных\nconst readings = $input.all().map(i => i.json);\n\n// Значения по умолчанию если нет данных\nconst defaultData = {\n  temperature: 0,\n  humidity: 0,\n  water_level: 0,\n  wind_speed: 0\n};\n\nconst latest = readings.length > 0 ? readings[readings.length - 1] : defaultData;\n\nconst chartData = {\n  labels: readings.map(r => r.timestamp_iso),\n  temperature: readings.map(r => parseFloat(r.temperature)),\n  humidity: readings.map(r => parseFloat(r.humidity)),\n  water_level: readings.map(r => parseFloat(r.water_level)),\n  wind_speed: readings.map(r => parseFloat(r.wind_speed))\n};\n\nreturn [{\n  json: {\n    latest: latest,\n    chartData: chartData,\n    count: readings.length\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Подготовить Данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из предыдущей ноды\nconst data = $input.first().json;\nconst latest = data.latest;\nconst chartData = data.chartData;\n\n// Функция определения статуса сенсора\nfunction getSensorStatus(type, value) {\n  const thresholds = {\n    temperature: { min: 10, max: 40 },\n    humidity: { min: 20, max: 85 },\n    water_level: { min: 5 },\n    wind_speed: { max: 11 }\n  };\n  \n  if (type === 'temperature') {\n    if (value < thresholds.temperature.min || value > thresholds.temperature.max) {\n      return 'critical';\n    }\n  } else if (type === 'humidity') {\n    if (value < thresholds.humidity.min || value > thresholds.humidity.max) {\n      return 'critical';\n    }\n  } else if (type === 'water_level') {\n    if (value < thresholds.water_level.min) return 'critical';\n    if (value < 15) return 'warning';\n  } else if (type === 'wind_speed') {\n    if (value > thresholds.wind_speed.max) return 'critical';\n    if (value > 8) return 'warning';\n  }\n  return 'normal';\n}\n\n// Генерация HTML\nconst html = `<!DOCTYPE html>\n<html lang=\"ru\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>UgAgro 95 - Мониторинг Теплицы</title>\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js\"></script>\n    <style>\n        body { background-color: #f5f7fa; }\n        .sensor-card {\n            border-radius: 12px;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n            margin-bottom: 20px;\n        }\n        .sensor-card.normal { border-left: 4px solid #28a745; }\n        .sensor-card.warning { border-left: 4px solid #ffc107; background-color: #fff9e6; }\n        .sensor-card.critical { border-left: 4px solid #dc3545; background-color: #ffe6e6; }\n    </style>\n</head>\n<body>\n    <nav class=\"navbar navbar-dark bg-success\">\n        <div class=\"container-fluid\">\n            <span class=\"navbar-brand mb-0 h1\">🌱 UgAgro 95 - Умная Теплица</span>\n            <span class=\"badge bg-light text-dark\">⚫ Онлайн</span>\n        </div>\n    </nav>\n\n    <div class=\"container-fluid py-4\">\n        <div class=\"row mb-4\">\n            <div class=\"col-md-3\">\n                <div class=\"card sensor-card ${getSensorStatus('temperature', latest.temperature)}\">\n                    <div class=\"card-body\">\n                        <h6 class=\"text-muted mb-1\">Температура</h6>\n                        <h2 class=\"mb-0\">${latest.temperature.toFixed(1)}°C</h2>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-3\">\n                <div class=\"card sensor-card ${getSensorStatus('humidity', latest.humidity)}\">\n                    <div class=\"card-body\">\n                        <h6 class=\"text-muted mb-1\">Влажность</h6>\n                        <h2 class=\"mb-0\">${latest.humidity.toFixed(1)}%</h2>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-3\">\n                <div class=\"card sensor-card ${getSensorStatus('water_level', latest.water_level)}\">\n                    <div class=\"card-body\">\n                        <h6 class=\"text-muted mb-1\">Уровень Воды</h6>\n                        <h2 class=\"mb-0\">${latest.water_level.toFixed(1)}%</h2>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-3\">\n                <div class=\"card sensor-card ${getSensorStatus('wind_speed', latest.wind_speed)}\">\n                    <div class=\"card-body\">\n                        <h6 class=\"text-muted mb-1\">Скорость Ветра</h6>\n                        <h2 class=\"mb-0\">${latest.wind_speed.toFixed(1)} м/с</h2>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <div class=\"row\">\n            <div class=\"col-md-6 mb-3\">\n                <div class=\"card\">\n                    <div class=\"card-header bg-success text-white\">\n                        <h5 class=\"mb-0\">📈 Температура и Влажность</h5>\n                    </div>\n                    <div class=\"card-body\">\n                        <canvas id=\"chart1\"></canvas>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-6 mb-3\">\n                <div class=\"card\">\n                    <div class=\"card-header bg-success text-white\">\n                        <h5 class=\"mb-0\">📈 Вода и Ветер</h5>\n                    </div>\n                    <div class=\"card-body\">\n                        <canvas id=\"chart2\"></canvas>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <div class=\"row\">\n            <div class=\"col-md-12 text-center\">\n                <small class=\"text-muted\">Показано записей: ${data.count}</small><br>\n                <button class=\"btn btn-sm btn-success mt-2\" onclick=\"location.reload()\">🔄 Обновить</button>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        const chartData = ${JSON.stringify(chartData)};\n        const labels = chartData.labels.map(l => {\n            const date = new Date(l);\n            return date.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit' });\n        });\n\n        const commonOptions = {\n            responsive: true,\n            maintainAspectRatio: true,\n            plugins: {\n                legend: {\n                    display: true,\n                    position: 'top'\n                }\n            }\n        };\n\n        // График 1: Температура и Влажность\n        new Chart(document.getElementById('chart1'), {\n            type: 'line',\n            data: {\n                labels: labels,\n                datasets: [\n                    {\n                        label: 'Температура (°C)',\n                        data: chartData.temperature,\n                        borderColor: '#dc3545',\n                        backgroundColor: 'rgba(220,53,69,0.1)',\n                        tension: 0.4\n                    },\n                    {\n                        label: 'Влажность (%)',\n                        data: chartData.humidity,\n                        borderColor: '#17a2b8',\n                        backgroundColor: 'rgba(23,162,184,0.1)',\n                        tension: 0.4\n                    }\n                ]\n            },\n            options: commonOptions\n        });\n\n        // График 2: Вода и Ветер\n        new Chart(document.getElementById('chart2'), {\n            type: 'line',\n            data: {\n                labels: labels,\n                datasets: [\n                    {\n                        label: 'Уровень воды (%)',\n                        data: chartData.water_level,\n                        borderColor: '#007bff',\n                        backgroundColor: 'rgba(0,123,255,0.1)',\n                        tension: 0.4\n                    },\n                    {\n                        label: 'Ветер (м/с)',\n                        data: chartData.wind_speed,\n                        borderColor: '#28a745',\n                        backgroundColor: 'rgba(40,167,69,0.1)',\n                        tension: 0.4\n                    }\n                ]\n            },\n            options: commonOptions\n        });\n    </script>\n</body>\n</html>`;\n\nreturn [{ json: { html: html } }];"
      },
      "id": "generate-html",
      "name": "Генерация HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Получить Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить Данные": {
      "main": [
        [
          {
            "node": "Подготовить Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить Данные": {
      "main": [
        [
          {
            "node": "Генерация HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "1"
}
