n8n-greenhouse-integration/workflows/06-web-dashboard-simple.json
{
  "name": "06 - Web Dashboard Simple (PostgreSQL) v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ugagro_readings\nWHERE timestamp > EXTRACT(EPOCH FROM NOW() - INTERVAL '24 hours')\nORDER BY timestamp ASC;",
        "options": {}
      },
      "id": "get-readings",
      "name": "Получить Данные",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных для всех метрик\nconst readings = $input.all().map(i => i.json);\n\n// Значения по умолчанию если нет данных\nconst defaultData = {\n  temperature: 0,\n  humidity: 0,\n  water_level: 0,\n  wind_speed: 0,\n  outdoor_temperature: 0,\n  outdoor_humidity: 0,\n  solar_radiation: 0,\n  mat_temperature: 0,\n  mat_ec: 0,\n  solution_temperature: 0,\n  pyranometer: 0,\n  window_position: 0,\n  fan_state: 0,\n  fan_mode: 'unknown',\n  heating_state: 0,\n  heating_mode: 'unknown',\n  pump_state: 0,\n  pump_mode: 'unknown',\n  mist_state: 0,\n  mist_mode: 'unknown'\n};\n\n// Получаем последнее показание и преобразуем все значения\nlet latest;\nif (readings.length > 0) {\n  const lastReading = readings[readings.length - 1];\n  latest = {\n    temperature: parseFloat(lastReading.temperature) || 0,\n    humidity: parseFloat(lastReading.humidity) || 0,\n    water_level: parseFloat(lastReading.water_level) || 0,\n    wind_speed: parseFloat(lastReading.wind_speed) || 0,\n    outdoor_temperature: parseFloat(lastReading.outdoor_temperature) || 0,\n    outdoor_humidity: parseFloat(lastReading.outdoor_humidity) || 0,\n    solar_radiation: parseFloat(lastReading.solar_radiation) || 0,\n    mat_temperature: parseFloat(lastReading.mat_temperature) || 0,\n    mat_ec: parseFloat(lastReading.mat_ec) || 0,\n    solution_temperature: parseFloat(lastReading.solution_temperature) || 0,\n    pyranometer: parseFloat(lastReading.pyranometer) || 0,\n    window_position: parseFloat(lastReading.window_position) || 0,\n    fan_state: parseInt(lastReading.fan_state) || 0,\n    fan_mode: lastReading.fan_mode || 'unknown',\n    heating_state: parseInt(lastReading.heating_state) || 0,\n    heating_mode: lastReading.heating_mode || 'unknown',\n    pump_state: parseInt(lastReading.pump_state) || 0,\n    pump_mode: lastReading.pump_mode || 'unknown',\n    mist_state: parseInt(lastReading.mist_state) || 0,\n    mist_mode: lastReading.mist_mode || 'unknown'\n  };\n} else {\n  latest = defaultData;\n}\n\n// Подготовка данных для графиков\nconst chartData = {\n  labels: readings.map(r => r.timestamp_iso),\n  temperature: readings.map(r => parseFloat(r.temperature) || 0),\n  humidity: readings.map(r => parseFloat(r.humidity) || 0),\n  water_level: readings.map(r => parseFloat(r.water_level) || 0),\n  wind_speed: readings.map(r => parseFloat(r.wind_speed) || 0),\n  outdoor_temperature: readings.map(r => parseFloat(r.outdoor_temperature) || 0),\n  outdoor_humidity: readings.map(r => parseFloat(r.outdoor_humidity) || 0),\n  solar_radiation: readings.map(r => parseFloat(r.solar_radiation) || 0),\n  mat_temperature: readings.map(r => parseFloat(r.mat_temperature) || 0),\n  mat_ec: readings.map(r => parseFloat(r.mat_ec) || 0),\n  solution_temperature: readings.map(r => parseFloat(r.solution_temperature) || 0),\n  pyranometer: readings.map(r => parseFloat(r.pyranometer) || 0),\n  window_position: readings.map(r => parseFloat(r.window_position) || 0)\n};\n\nreturn [{\n  json: {\n    latest: latest,\n    chartData: chartData,\n    count: readings.length\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Подготовить Данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из предыдущей ноды\nconst data = $input.first().json;\nconst latest = data.latest;\nconst chartData = data.chartData;\n\n// Функция определения статуса сенсора\nfunction getSensorStatus(type, value) {\n  const thresholds = {\n    temperature: { min: 10, max: 40 },\n    humidity: { min: 20, max: 85 },\n    water_level: { min: 5 },\n    wind_speed: { max: 11 }\n  };\n  \n  if (type === 'temperature') {\n    if (value < thresholds.temperature.min || value > thresholds.temperature.max) {\n      return 'critical';\n    }\n  } else if (type === 'humidity') {\n    if (value < thresholds.humidity.min || value > thresholds.humidity.max) {\n      return 'critical';\n    }\n  } else if (type === 'water_level') {\n    if (value < thresholds.water_level.min) return 'critical';\n    if (value < 15) return 'warning';\n  } else if (type === 'wind_speed') {\n    if (value > thresholds.wind_speed.max) return 'critical';\n    if (value > 8) return 'warning';\n  }\n  return 'normal';\n}\n\n// Функция получения класса режима оборудования\nfunction getModeClass(mode) {\n  if (mode === 'auto') return 'mode-auto';\n  if (mode === 'manual') return 'mode-manual';\n  if (mode === 'forced') return 'mode-forced';\n  return 'mode-unknown';\n}\n\n// Генерация HTML с полным функционалом\nconst html = `<!DOCTYPE html>\n<html lang=\"ru\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>UgAgro 95 - Мониторинг Теплицы</title>\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css\" rel=\"stylesheet\">\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js\"></script>\n    <style>\n        :root {\n            --bg-primary: #ffffff;\n            --bg-secondary: #f8f9fa;\n            --text-primary: #212529;\n            --text-secondary: #6c757d;\n            --border-color: #dee2e6;\n            --card-shadow: 0 2px 8px rgba(0,0,0,0.1);\n            --gradient-success: linear-gradient(135deg, #28a745 0%, #20c997 100%);\n            --gradient-info: linear-gradient(135deg, #17a2b8 0%, #3498db 100%);\n            --gradient-warning: linear-gradient(135deg, #ffc107 0%, #ff9800 100%);\n            --gradient-danger: linear-gradient(135deg, #dc3545 0%, #e74c3c 100%);\n        }\n        \n        [data-theme=\"dark\"] {\n            --bg-primary: #1a1d23;\n            --bg-secondary: #242830;\n            --text-primary: #e9ecef;\n            --text-secondary: #adb5bd;\n            --border-color: #495057;\n            --card-shadow: 0 2px 8px rgba(0,0,0,0.3);\n        }\n        \n        body {\n            background: var(--bg-secondary);\n            color: var(--text-primary);\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            transition: background 0.3s, color 0.3s;\n        }\n        \n        .navbar {\n            background: var(--gradient-success) !important;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n        }\n        \n        .sensor-card {\n            background: var(--bg-primary);\n            border-radius: 12px;\n            box-shadow: var(--card-shadow);\n            margin-bottom: 20px;\n            border: none;\n            transition: transform 0.2s, box-shadow 0.2s;\n        }\n        \n        .sensor-card:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 4px 12px rgba(0,0,0,0.15);\n        }\n        \n        .sensor-card.normal { border-left: 4px solid #28a745; }\n        .sensor-card.warning { border-left: 4px solid #ffc107; }\n        .sensor-card.critical { border-left: 4px solid #dc3545; }\n        \n        .chart-card {\n            background: var(--bg-primary);\n            border-radius: 12px;\n            box-shadow: var(--card-shadow);\n            border: none;\n        }\n        \n        .chart-tabs {\n            border-bottom: 2px solid var(--border-color);\n            margin-bottom: 15px;\n            display: flex;\n            flex-wrap: wrap;\n            gap: 5px;\n        }\n        \n        .chart-tab {\n            padding: 8px 16px;\n            background: transparent;\n            border: none;\n            color: var(--text-secondary);\n            cursor: pointer;\n            transition: all 0.3s;\n            border-radius: 6px 6px 0 0;\n            font-size: 14px;\n        }\n        \n        .chart-tab:hover {\n            background: var(--bg-secondary);\n            color: var(--text-primary);\n        }\n        \n        .chart-tab.active {\n            background: var(--gradient-success);\n            color: white;\n            font-weight: 600;\n        }\n        \n        .time-controls {\n            display: flex;\n            gap: 8px;\n            margin-bottom: 15px;\n            flex-wrap: wrap;\n        }\n        \n        .time-btn {\n            padding: 6px 12px;\n            background: var(--bg-secondary);\n            border: 1px solid var(--border-color);\n            border-radius: 6px;\n            cursor: pointer;\n            transition: all 0.2s;\n            color: var(--text-primary);\n            font-size: 13px;\n        }\n        \n        .time-btn:hover {\n            background: var(--gradient-info);\n            color: white;\n            border-color: transparent;\n        }\n        \n        .time-btn.active {\n            background: var(--gradient-success);\n            color: white;\n            border-color: transparent;\n            font-weight: 600;\n        }\n        \n        .equipment-status {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));\n            gap: 15px;\n            margin-top: 20px;\n        }\n        \n        .equipment-item {\n            background: var(--bg-primary);\n            padding: 15px;\n            border-radius: 10px;\n            box-shadow: var(--card-shadow);\n            text-align: center;\n        }\n        \n        .equipment-icon {\n            font-size: 32px;\n            margin-bottom: 8px;\n        }\n        \n        .equipment-state {\n            font-weight: 600;\n            font-size: 18px;\n        }\n        \n        .mode-badge {\n            display: inline-block;\n            padding: 4px 8px;\n            border-radius: 12px;\n            font-size: 11px;\n            font-weight: 600;\n            margin-top: 5px;\n        }\n        \n        .mode-auto { background: #28a745; color: white; }\n        .mode-manual { background: #ffc107; color: #333; }\n        .mode-forced { background: #dc3545; color: white; }\n        .mode-unknown { background: #6c757d; color: white; }\n        \n        .theme-toggle {\n            background: rgba(255,255,255,0.2);\n            border: none;\n            color: white;\n            padding: 8px 12px;\n            border-radius: 6px;\n            cursor: pointer;\n            transition: all 0.2s;\n        }\n        \n        .theme-toggle:hover {\n            background: rgba(255,255,255,0.3);\n        }\n        \n        .additional-readings {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 15px;\n            margin-top: 20px;\n        }\n        \n        .reading-item {\n            background: var(--bg-primary);\n            padding: 12px;\n            border-radius: 8px;\n            box-shadow: var(--card-shadow);\n        }\n        \n        .reading-label {\n            color: var(--text-secondary);\n            font-size: 12px;\n            margin-bottom: 4px;\n        }\n        \n        .reading-value {\n            font-size: 20px;\n            font-weight: 600;\n            color: var(--text-primary);\n        }\n        \n        @keyframes pulse {\n            0%, 100% { opacity: 1; }\n            50% { opacity: 0.6; }\n        }\n        \n        .online-indicator {\n            animation: pulse 2s infinite;\n        }\n    </style>\n</head>\n<body>\n    <nav class=\"navbar navbar-dark\">\n        <div class=\"container-fluid\">\n            <span class=\"navbar-brand mb-0 h1\">\n                <i class=\"bi bi-tree\"></i> UgAgro 95 - Умная Теплица\n            </span>\n            <div class=\"d-flex gap-2 align-items-center\">\n                <button class=\"theme-toggle\" onclick=\"toggleTheme()\">\n                    <i class=\"bi bi-moon-stars\" id=\"theme-icon\"></i>\n                </button>\n                <span class=\"badge bg-light text-dark online-indicator\">\n                    <i class=\"bi bi-circle-fill text-success\"></i> Онлайн\n                </span>\n            </div>\n        </div>\n    </nav>\n\n    <div class=\"container-fluid py-4\">\n        <!-- Main Sensor Cards -->\n        <div class=\"row mb-4\">\n            <div class=\"col-md-3 col-sm-6\">\n                <div class=\"card sensor-card ${getSensorStatus('temperature', latest.temperature)}\">\n                    <div class=\"card-body\">\n                        <div class=\"d-flex justify-content-between align-items-center\">\n                            <div>\n                                <h6 class=\"text-muted mb-1\"><i class=\"bi bi-thermometer-half\"></i> Температура</h6>\n                                <h2 class=\"mb-0\">${latest.temperature.toFixed(1)}°C</h2>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-3 col-sm-6\">\n                <div class=\"card sensor-card ${getSensorStatus('humidity', latest.humidity)}\">\n                    <div class=\"card-body\">\n                        <div class=\"d-flex justify-content-between align-items-center\">\n                            <div>\n                                <h6 class=\"text-muted mb-1\"><i class=\"bi bi-droplet-half\"></i> Влажность</h6>\n                                <h2 class=\"mb-0\">${latest.humidity.toFixed(1)}%</h2>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-3 col-sm-6\">\n                <div class=\"card sensor-card ${getSensorStatus('water_level', latest.water_level)}\">\n                    <div class=\"card-body\">\n                        <div class=\"d-flex justify-content-between align-items-center\">\n                            <div>\n                                <h6 class=\"text-muted mb-1\"><i class=\"bi bi-droplet\"></i> Уровень Воды</h6>\n                                <h2 class=\"mb-0\">${latest.water_level.toFixed(1)}%</h2>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"col-md-3 col-sm-6\">\n                <div class=\"card sensor-card ${getSensorStatus('wind_speed', latest.wind_speed)}\">\n                    <div class=\"card-body\">\n                        <div class=\"d-flex justify-content-between align-items-center\">\n                            <div>\n                                <h6 class=\"text-muted mb-1\"><i class=\"bi bi-wind\"></i> Скорость Ветра</h6>\n                                <h2 class=\"mb-0\">${latest.wind_speed.toFixed(1)} м/с</h2>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Unified Chart -->\n        <div class=\"row mb-4\">\n            <div class=\"col-12\">\n                <div class=\"card chart-card\">\n                    <div class=\"card-header\">\n                        <div class=\"d-flex justify-content-between align-items-center flex-wrap gap-2\">\n                            <h5 class=\"mb-0\"><i class=\"bi bi-graph-up\"></i> Графики Показаний</h5>\n                            <button class=\"btn btn-sm btn-success\" onclick=\"exportCSV()\">\n                                <i class=\"bi bi-download\"></i> Экспорт CSV\n                            </button>\n                        </div>\n                    </div>\n                    <div class=\"card-body\">\n                        <div class=\"chart-tabs\">\n                            <button class=\"chart-tab active\" onclick=\"switchChart('temperature')\">Температура</button>\n                            <button class=\"chart-tab\" onclick=\"switchChart('humidity')\">Влажность</button>\n                            <button class=\"chart-tab\" onclick=\"switchChart('outdoor')\">Уличные</button>\n                            <button class=\"chart-tab\" onclick=\"switchChart('solar')\">Радиация (÷10)</button>\n                            <button class=\"chart-tab\" onclick=\"switchChart('mat_temp')\">Мат Темп</button>\n                            <button class=\"chart-tab\" onclick=\"switchChart('mat_ec')\">Мат EC</button>\n                            <button class=\"chart-tab\" onclick=\"switchChart('water')\">Вода</button>\n                            <button class=\"chart-tab\" onclick=\"switchChart('wind')\">Ветер</button>\n                        </div>\n                        <div class=\"time-controls\">\n                            <button class=\"time-btn active\" onclick=\"setTimeRange('hour')\">1 час</button>\n                            <button class=\"time-btn\" onclick=\"setTimeRange('day')\">1 день</button>\n                            <button class=\"time-btn\" onclick=\"setTimeRange('3days')\">3 дня</button>\n                            <button class=\"time-btn\" onclick=\"setTimeRange('week')\">Неделя</button>\n                            <select class=\"time-btn\" onchange=\"setMonth(this.value)\">\n                                <option value=\"\">Выбрать месяц</option>\n                                <option value=\"0\">Январь</option>\n                                <option value=\"1\">Февраль</option>\n                                <option value=\"2\">Март</option>\n                                <option value=\"3\">Апрель</option>\n                                <option value=\"4\">Май</option>\n                                <option value=\"5\">Июнь</option>\n                                <option value=\"6\">Июль</option>\n                                <option value=\"7\">Август</option>\n                                <option value=\"8\">Сентябрь</option>\n                                <option value=\"9\">Октябрь</option>\n                                <option value=\"10\">Ноябрь</option>\n                                <option value=\"11\">Декабрь</option>\n                            </select>\n                            <select class=\"time-btn\" onchange=\"setYear(this.value)\">\n                                <option value=\"\">Выбрать год</option>\n                                <option value=\"2025\">2025</option>\n                                <option value=\"2024\">2024</option>\n                                <option value=\"2023\">2023</option>\n                            </select>\n                        </div>\n                        <canvas id=\"mainChart\" style=\"max-height: 400px;\"></canvas>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Equipment Status -->\n        <div class=\"row mb-4\">\n            <div class=\"col-12\">\n                <div class=\"card chart-card\">\n                    <div class=\"card-header\">\n                        <h5 class=\"mb-0\"><i class=\"bi bi-gear-fill\"></i> Состояние Оборудования</h5>\n                    </div>\n                    <div class=\"card-body\">\n                        <div class=\"equipment-status\">\n                            <div class=\"equipment-item\">\n                                <div class=\"equipment-icon\"><i class=\"bi bi-fan\"></i></div>\n                                <div class=\"equipment-state\">${latest.fan_state ? 'ВКЛ' : 'ВЫКЛ'}</div>\n                                <div>Вентилятор</div>\n                                <span class=\"mode-badge ${getModeClass(latest.fan_mode)}\">${latest.fan_mode.toUpperCase()}</span>\n                            </div>\n                            <div class=\"equipment-item\">\n                                <div class=\"equipment-icon\"><i class=\"bi bi-fire\"></i></div>\n                                <div class=\"equipment-state\">${latest.heating_state ? 'ВКЛ' : 'ВЫКЛ'}</div>\n                                <div>Отопление</div>\n                                <span class=\"mode-badge ${getModeClass(latest.heating_mode)}\">${latest.heating_mode.toUpperCase()}</span>\n                            </div>\n                            <div class=\"equipment-item\">\n                                <div class=\"equipment-icon\"><i class=\"bi bi-droplet-fill\"></i></div>\n                                <div class=\"equipment-state\">${latest.pump_state ? 'ВКЛ' : 'ВЫКЛ'}</div>\n                                <div>Насос</div>\n                                <span class=\"mode-badge ${getModeClass(latest.pump_mode)}\">${latest.pump_mode.toUpperCase()}</span>\n                            </div>\n                            <div class=\"equipment-item\">\n                                <div class=\"equipment-icon\"><i class=\"bi bi-cloud-drizzle\"></i></div>\n                                <div class=\"equipment-state\">${latest.mist_state ? 'ВКЛ' : 'ВЫКЛ'}</div>\n                                <div>Туман</div>\n                                <span class=\"mode-badge ${getModeClass(latest.mist_mode)}\">${latest.mist_mode.toUpperCase()}</span>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Additional Readings -->\n        <div class=\"row mb-4\">\n            <div class=\"col-12\">\n                <div class=\"card chart-card\">\n                    <div class=\"card-header\">\n                        <h5 class=\"mb-0\"><i class=\"bi bi-list-ul\"></i> Дополнительные Показания</h5>\n                    </div>\n                    <div class=\"card-body\">\n                        <div class=\"additional-readings\">\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Темп. Улица</div>\n                                <div class=\"reading-value\">${latest.outdoor_temperature.toFixed(1)}°C</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Влажн. Улица</div>\n                                <div class=\"reading-value\">${latest.outdoor_humidity.toFixed(1)}%</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Солн. Радиация</div>\n                                <div class=\"reading-value\">${latest.solar_radiation.toFixed(0)} Вт/м²</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Темп. Мата</div>\n                                <div class=\"reading-value\">${latest.mat_temperature.toFixed(1)}°C</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">EC Мата</div>\n                                <div class=\"reading-value\">${latest.mat_ec.toFixed(2)} mS/cm</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Темп. Раствора</div>\n                                <div class=\"reading-value\">${latest.solution_temperature.toFixed(1)}°C</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Пиранометр</div>\n                                <div class=\"reading-value\">${latest.pyranometer.toFixed(0)} Вт/м²</div>\n                            </div>\n                            <div class=\"reading-item\">\n                                <div class=\"reading-label\">Позиция Окна</div>\n                                <div class=\"reading-value\">${latest.window_position.toFixed(0)}%</div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Footer -->\n        <div class=\"row\">\n            <div class=\"col-md-12 text-center\">\n                <small class=\"text-muted\">Показано записей: ${data.count} | Последнее обновление: <span id=\"lastUpdate\"></span></small>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        // Данные графиков\n        const rawChartData = ${JSON.stringify(chartData)};\n        let currentChart = null;\n        let currentMetric = 'temperature';\n        \n        // Функция переключения темы\n        function toggleTheme() {\n            const html = document.documentElement;\n            const currentTheme = html.getAttribute('data-theme');\n            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';\n            html.setAttribute('data-theme', newTheme);\n            localStorage.setItem('theme', newTheme);\n            \n            const icon = document.getElementById('theme-icon');\n            icon.className = newTheme === 'dark' ? 'bi bi-sun' : 'bi bi-moon-stars';\n            \n            if (currentChart) {\n                currentChart.options.plugins.legend.labels.color = getComputedStyle(document.documentElement).getPropertyValue('--text-primary');\n                currentChart.options.scales.x.ticks.color = getComputedStyle(document.documentElement).getPropertyValue('--text-secondary');\n                currentChart.options.scales.y.ticks.color = getComputedStyle(document.documentElement).getPropertyValue('--text-secondary');\n                currentChart.update();\n            }\n        }\n        \n        // Загрузка сохраненной темы\n        const savedTheme = localStorage.getItem('theme') || 'light';\n        document.documentElement.setAttribute('data-theme', savedTheme);\n        if (savedTheme === 'dark') {\n            document.getElementById('theme-icon').className = 'bi bi-sun';\n        }\n        \n        // Функция переключения графиков\n        function switchChart(metric) {\n            currentMetric = metric;\n            document.querySelectorAll('.chart-tab').forEach(tab => tab.classList.remove('active'));\n            event.target.classList.add('active');\n            updateChart();\n        }\n        \n        // Функция установки временного диапазона\n        function setTimeRange(range) {\n            document.querySelectorAll('.time-btn').forEach(btn => {\n                if (btn.tagName === 'BUTTON') btn.classList.remove('active');\n            });\n            event.target.classList.add('active');\n            updateChart();\n        }\n        \n        // Функция установки месяца\n        function setMonth(month) {\n            if (month) {\n                console.log('Selected month:', month);\n                // Здесь можно добавить логику загрузки данных за конкретный месяц\n            }\n        }\n        \n        // Функция установки года\n        function setYear(year) {\n            if (year) {\n                console.log('Selected year:', year);\n                // Здесь можно добавить логику загрузки данных за конкретный год\n            }\n        }\n        \n        // Функция обновления графика\n        function updateChart() {\n            const labels = rawChartData.labels.map(l => {\n                const date = new Date(l);\n                return date.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit' });\n            });\n            \n            let datasets = [];\n            \n            switch(currentMetric) {\n                case 'temperature':\n                    datasets = [{\n                        label: 'Температура (°C)',\n                        data: rawChartData.temperature,\n                        borderColor: '#dc3545',\n                        backgroundColor: 'rgba(220,53,69,0.1)',\n                        tension: 0.4,\n                        fill: true\n                    }];\n                    break;\n                case 'humidity':\n                    datasets = [{\n                        label: 'Влажность (%)',\n                        data: rawChartData.humidity,\n                        borderColor: '#17a2b8',\n                        backgroundColor: 'rgba(23,162,184,0.1)',\n                        tension: 0.4,\n                        fill: true\n                    }];\n                    break;\n                case 'outdoor':\n                    datasets = [\n                        {\n                            label: 'Темп. Улица (°C)',\n                            data: rawChartData.outdoor_temperature,\n                            borderColor: '#ff6384',\n                            backgroundColor: 'rgba(255,99,132,0.1)',\n                            tension: 0.4,\n                            fill: true\n                        },\n                        {\n                            label: 'Влажн. Улица (%)',\n                            data: rawChartData.outdoor_humidity,\n                            borderColor: '#36a2eb',\n                            backgroundColor: 'rgba(54,162,235,0.1)',\n                            tension: 0.4,\n                            fill: true\n                        }\n                    ];\n                    break;\n                case 'solar':\n                    datasets = [\n                        {\n                            label: 'Солн. Радиация (Вт/м² ÷ 10)',\n                            data: rawChartData.solar_radiation.map(v => v / 10),\n                            borderColor: '#ffc107',\n                            backgroundColor: 'rgba(255,193,7,0.1)',\n                            tension: 0.4,\n                            fill: true\n                        },\n                        {\n                            label: 'Пиранометр (Вт/м² ÷ 10)',\n                            data: rawChartData.pyranometer.map(v => v / 10),\n                            borderColor: '#ff9800',\n                            backgroundColor: 'rgba(255,152,0,0.1)',\n                            tension: 0.4,\n                            fill: true\n                        }\n                    ];\n                    break;\n                case 'mat_temp':\n                    datasets = [\n                        {\n                            label: 'Темп. Мата (°C)',\n                            data: rawChartData.mat_temperature,\n                            borderColor: '#e91e63',\n                            backgroundColor: 'rgba(233,30,99,0.1)',\n                            tension: 0.4,\n                            fill: true\n                        },\n                        {\n                            label: 'Темп. Раствора (°C)',\n                            data: rawChartData.solution_temperature,\n                            borderColor: '#9c27b0',\n                            backgroundColor: 'rgba(156,39,176,0.1)',\n                            tension: 0.4,\n                            fill: true\n                        }\n                    ];\n                    break;\n                case 'mat_ec':\n                    datasets = [{\n                        label: 'EC Мата (mS/cm)',\n                        data: rawChartData.mat_ec,\n                        borderColor: '#673ab7',\n                        backgroundColor: 'rgba(103,58,183,0.1)',\n                        tension: 0.4,\n                        fill: true\n                    }];\n                    break;\n                case 'water':\n                    datasets = [\n                        {\n                            label: 'Уровень Воды (%)',\n                            data: rawChartData.water_level,\n                            borderColor: '#007bff',\n                            backgroundColor: 'rgba(0,123,255,0.1)',\n                            tension: 0.4,\n                            fill: true\n                        },\n                        {\n                            label: 'Позиция Окна (%)',\n                            data: rawChartData.window_position,\n                            borderColor: '#3f51b5',\n                            backgroundColor: 'rgba(63,81,181,0.1)',\n                            tension: 0.4,\n                            fill: true\n                        }\n                    ];\n                    break;\n                case 'wind':\n                    datasets = [{\n                        label: 'Скорость Ветра (м/с)',\n                        data: rawChartData.wind_speed,\n                        borderColor: '#28a745',\n                        backgroundColor: 'rgba(40,167,69,0.1)',\n                        tension: 0.4,\n                        fill: true\n                    }];\n                    break;\n            }\n            \n            const textColor = getComputedStyle(document.documentElement).getPropertyValue('--text-primary');\n            const secondaryColor = getComputedStyle(document.documentElement).getPropertyValue('--text-secondary');\n            \n            if (currentChart) {\n                currentChart.destroy();\n            }\n            \n            const ctx = document.getElementById('mainChart');\n            currentChart = new Chart(ctx, {\n                type: 'line',\n                data: {\n                    labels: labels,\n                    datasets: datasets\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: true,\n                    interaction: {\n                        mode: 'index',\n                        intersect: false\n                    },\n                    plugins: {\n                        legend: {\n                            display: true,\n                            position: 'top',\n                            labels: {\n                                color: textColor,\n                                padding: 15,\n                                font: {\n                                    size: 12\n                                }\n                            }\n                        },\n                        tooltip: {\n                            backgroundColor: 'rgba(0,0,0,0.8)',\n                            padding: 12,\n                            titleFont: {\n                                size: 14\n                            },\n                            bodyFont: {\n                                size: 13\n                            }\n                        }\n                    },\n                    scales: {\n                        x: {\n                            ticks: {\n                                color: secondaryColor,\n                                maxRotation: 45,\n                                minRotation: 0\n                            },\n                            grid: {\n                                color: 'rgba(0,0,0,0.05)'\n                            }\n                        },\n                        y: {\n                            ticks: {\n                                color: secondaryColor\n                            },\n                            grid: {\n                                color: 'rgba(0,0,0,0.05)'\n                            }\n                        }\n                    }\n                }\n            });\n        }\n        \n        // Функция экспорта в CSV\n        function exportCSV() {\n            let csv = 'Timestamp,';\n            const metrics = ['temperature', 'humidity', 'water_level', 'wind_speed', 'outdoor_temperature', \n                           'outdoor_humidity', 'solar_radiation', 'mat_temperature', 'mat_ec', \n                           'solution_temperature', 'pyranometer', 'window_position'];\n            csv += metrics.join(',') + '\\\\n';\n            \n            for (let i = 0; i < rawChartData.labels.length; i++) {\n                csv += rawChartData.labels[i] + ',';\n                metrics.forEach(metric => {\n                    csv += (rawChartData[metric][i] || 0) + ',';\n                });\n                csv += '\\\\n';\n            }\n            \n            const blob = new Blob([csv], { type: 'text/csv' });\n            const url = window.URL.createObjectURL(blob);\n            const a = document.createElement('a');\n            a.href = url;\n            a.download = 'greenhouse_data_' + new Date().toISOString().split('T')[0] + '.csv';\n            a.click();\n        }\n        \n        // Обновление времени последнего обновления\n        function updateLastUpdateTime() {\n            const now = new Date();\n            document.getElementById('lastUpdate').textContent = now.toLocaleString('ru-RU');\n        }\n        \n        // Авто-обновление каждые 30 секунд\n        setInterval(() => {\n            location.reload();\n        }, 30000);\n        \n        // Инициализация\n        updateChart();\n        updateLastUpdateTime();\n    </script>\n</body>\n</html>`;\n\nreturn [{ json: { html: html } }];"
      },
      "id": "generate-html",
      "name": "Генерация HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Получить Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить Данные": {
      "main": [
        [
          {
            "node": "Подготовить Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить Данные": {
      "main": [
        [
          {
            "node": "Генерация HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "2"
}
