n8n-greenhouse-integration/workflows/telegram-callback-handler.json
{
  "name": "Telegram - Callback Handler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "UgAgro Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Парсинг callback data от кнопок\nconst callback = $input.first().json;\n\nif (!callback || !callback.callback_query || !callback.callback_query.data) {\n  throw new Error('Некорректные данные callback');\n}\n\nconst callbackData = callback.callback_query.data;\nconst chatId = callback.callback_query.message.chat.id;\nconst messageId = callback.callback_query.message.message_id;\n\n// Парсим данные: \"ack_high_temperature\" или \"mute_low_humidity_1h\"\nconst parts = callbackData.split('_');\nconst action = parts[0]; // 'ack' или 'mute'\n\nlet alertType;\nlet muteDuration = null;\n\nif (action === 'ack') {\n  // ack_high_temperature\n  alertType = parts.slice(1).join('_');\n} else if (action === 'mute') {\n  // mute_low_humidity_1h\n  const durationStr = parts[parts.length - 1]; // \"1h\"\n  muteDuration = parseInt(durationStr) || 1; // часы\n  alertType = parts.slice(1, -1).join('_');\n}\n\nreturn [{\n  json: {\n    action: action,\n    alert_type: alertType,\n    mute_duration: muteDuration,\n    chat_id: chatId,\n    message_id: messageId,\n    user_id: callback.callback_query.from.id,\n    user_name: callback.callback_query.from.first_name || 'Пользователь'\n  }\n}];"
      },
      "id": "parse-callback",
      "name": "Парсинг Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "ack",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-action",
      "name": "Проверка Действия",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Подготовка SQL для подтверждения\nconst alertType = $json.alert_type || 'unknown';\n\nconst sqlQuery = `UPDATE telegram_alert_states\nSET \n  acknowledged_at = NOW(),\n  is_active = false,\n  updated_at = NOW()\nWHERE alert_type = '${alertType}';\n\nSELECT alert_type, acknowledged_at FROM telegram_alert_states WHERE alert_type = '${alertType}';`;\n\nreturn [{ json: { ...($json), sql_query: sqlQuery } }];"
      },
      "id": "prepare-ack-sql",
      "name": "Подготовить SQL Подтверждения",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}",
        "options": {}
      },
      "id": "acknowledge-alert",
      "name": "Подтвердить Оповещение",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 200],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготовка SQL для отключения\nconst alertType = $json.alert_type || 'unknown';\nconst muteDuration = $json.mute_duration || 1;\n\nconst sqlQuery = `UPDATE telegram_alert_states\nSET \n  mute_until = NOW() + INTERVAL '${muteDuration} hours',\n  is_active = false,\n  updated_at = NOW()\nWHERE alert_type = '${alertType}';\n\nSELECT alert_type, mute_until FROM telegram_alert_states WHERE alert_type = '${alertType}';`;\n\nreturn [{ json: { ...($json), sql_query: sqlQuery } }];"
      },
      "id": "prepare-mute-sql",
      "name": "Подготовить SQL Отключения",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}",
        "options": {}
      },
      "id": "mute-alert",
      "name": "Отключить Оповещение",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 400],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst callback = $node[\"Парсинг Callback\"].json;\n\nlet message;\n\nif (callback.action === 'ack') {\n  message = `✅ *Оповещение подтверждено*\\n\\nТип: ${callback.alert_type}\\nПользователь: ${callback.user_name}\\nВремя: ${new Date().toLocaleString('ru-RU')}`;\n} else {\n  const muteUntil = new Date(data.mute_until).toLocaleString('ru-RU');\n  message = `🔕 *Оповещение отключено*\\n\\nТип: ${callback.alert_type}\\nОтключено на: ${callback.mute_duration} ч.\\nДо: ${muteUntil}\\nПользователь: ${callback.user_name}`;\n}\n\nreturn [{\n  json: {\n    chat_id: callback.chat_id,\n    message_id: callback.message_id,\n    message: message\n  }\n}];"
      },
      "id": "format-response",
      "name": "Форматировать Ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "resource": "callback",
        "operation": "answerQuery",
        "queryId": "={{ $node[\"Telegram Trigger\"].json.callback_query.id }}",
        "additionalFields": {
          "text": "Обработано ✓"
        }
      },
      "id": "answer-callback",
      "name": "Ответить на Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "UgAgro Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "messageType": "editMessageText",
        "messageId": "={{ $json.message_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "edit-message",
      "name": "Изменить Сообщение",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "UgAgro Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Парсинг Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсинг Callback": {
      "main": [
        [
          {
            "node": "Проверка Действия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка Действия": {
      "main": [
        [
          {
            "node": "Подготовить SQL Подтверждения",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Подготовить SQL Отключения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить SQL Подтверждения": {
      "main": [
        [
          {
            "node": "Подтвердить Оповещение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить SQL Отключения": {
      "main": [
        [
          {
            "node": "Отключить Оповещение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подтвердить Оповещение": {
      "main": [
        [
          {
            "node": "Форматировать Ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отключить Оповещение": {
      "main": [
        [
          {
            "node": "Форматировать Ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать Ответ": {
      "main": [
        [
          {
            "node": "Ответить на Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответить на Callback": {
      "main": [
        [
          {
            "node": "Изменить Сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T00:00:00.000Z",
  "versionId": "1"
}
