n8n-greenhouse-integration/workflows/telegram-unified.json
{
  "name": "Telegram Alerts Unified",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 20 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Bot",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        600
      ],
      "webhookId": "telegram-callback-unified",
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ugagro_readings ORDER BY timestamp DESC LIMIT 1;",
        "options": {}
      },
      "id": "get-readings",
      "name": "Get Latest Readings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем readings\nconst reading = $input.first().json;\n\n// Получаем состояния из workflow static data (общие для всех triggers!)\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.alertStates) {\n  staticData.alertStates = {};\n}\n\nconst states = staticData.alertStates;\n\n// Пороговые значения\nconst thresholds = {\n  high_temperature: { \n    field: 'outdoor_temperature', \n    max: 22, \n    message: '🔥 КРИТИЧНО! Температура слишком высокая' \n  },\n  low_temperature: { \n    field: 'outdoor_temperature', \n    min: 18, \n    message: '❄️ КРИТИЧНО! Температура слишком низкая' \n  },\n  high_humidity: { \n    field: 'outdoor_humidity', \n    max: 85, \n    message: '💧 КРИТИЧНО! Влажность слишком высокая' \n  },\n  low_humidity: { \n    field: 'outdoor_humidity', \n    min: 20, \n    message: '🏜️ КРИТИЧНО! Влажность слишком низкая' \n  },\n  low_water_level: { \n    field: 'water_level', \n    min: 5, \n    message: '🚨 КРИТИЧНО! Уровень воды очень низкий!' \n  }\n};\n\nconst alerts = [];\nconst now = new Date();\n\n// Проверяем каждый порог\nfor (const [alertType, config] of Object.entries(thresholds)) {\n  const value = parseFloat(reading[config.field]) || 0;\n  \n  // Инициализируем состояние если нет\n  if (!states[alertType]) {\n    states[alertType] = { acknowledged: false, mutedUntil: null };\n  }\n  \n  const state = states[alertType];\n  \n  // Проверяем критичность\n  let isCritical = false;\n  if (config.max !== undefined && value > config.max) isCritical = true;\n  if (config.min !== undefined && value < config.min) isCritical = true;\n  \n  // Проверяем muted\n  const isMuted = state.mutedUntil && new Date(state.mutedUntil) > now;\n  \n  // Если критично и не acknowledged и не muted - отправляем\n  if (isCritical && !state.acknowledged && !isMuted) {\n    alerts.push({\n      alert_type: alertType,\n      message: config.message,\n      current_value: value,\n      threshold_min: config.min,\n      threshold_max: config.max,\n      outdoor_temperature: reading.outdoor_temperature,\n      outdoor_humidity: reading.outdoor_humidity,\n      water_level: reading.water_level\n    });\n  }\n  \n  // Если не критично - сбрасываем acknowledged\n  if (!isCritical && state.acknowledged) {\n    state.acknowledged = false;\n    state.mutedUntil = null;\n  }\n}\n\n// Сохраняем обновленные состояния\nstaticData.alertStates = states;\n\nif (alerts.length === 0) {\n  return [];\n}\n\nreturn alerts.map(a => ({ json: a }));"
      },
      "id": "check-thresholds",
      "name": "Check Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const alert = $input.first().json;\nconst chatId = 'УКАЖИТЕ_ВАШ_TELEGRAM_CHAT_ID';\n\nconst currentValue = parseFloat(alert.current_value) || 0;\n\nlet message = `${alert.message}\\n\\n`;\nmessage += `📊 *Текущее значение:* ${currentValue.toFixed(1)}\\n`;\n\nif (alert.threshold_min !== undefined) {\n  message += `⚠️ *Минимум:* ${alert.threshold_min}\\n`;\n}\nif (alert.threshold_max !== undefined) {\n  message += `⚠️ *Максимум:* ${alert.threshold_max}\\n`;\n}\n\nmessage += `\\n━━━━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `\\n📋 *ВСЕ ПОКАЗАТЕЛИ:*\\n`;\nmessage += `🌡️ Температура: ${parseFloat(alert.outdoor_temperature).toFixed(1)}°C\\n`;\nmessage += `💧 Влажность: ${parseFloat(alert.outdoor_humidity).toFixed(1)}%\\n`;\nmessage += `💦 Уровень воды: ${parseFloat(alert.water_level).toFixed(1)}%\\n`;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: message,\n    parse_mode: 'Markdown',\n    reply_markup: {\n      inline_keyboard: [[\n        {\n          text: '✅ Подтвердить',\n          callback_data: `ack_${alert.alert_type}`\n        },\n        {\n          text: '🔕 Отключить на 1ч',\n          callback_data: `mute_${alert.alert_type}_1h`\n        }\n      ]]\n    }\n  }\n}];"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/sendMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "telegramApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Фильтр для callback - пропускаем только callback_query\nconst isCallback = data.callback_query !== undefined && data.callback_query !== null;\n\nreturn isCallback ? [{ json: data }] : [];"
      },
      "id": "filter-callback",
      "name": "Filter Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Фильтр для message - пропускаем только обычные сообщения (не callback)\nconst isMessage = data.message !== undefined && data.message !== null && !data.callback_query;\n\nreturn isMessage ? [{ json: data }] : [];"
      },
      "id": "filter-message",
      "name": "Filter Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst chatId = data.message.chat.id;\nconst command = data.message.text;\n\nlet responseText = '';\n\nif (command === '/start') {\n    responseText = '👋 Привет! Я бот мониторинга теплицы.\\n\\n';\n    responseText += 'Команды:\\n';\n    responseText += '/status - текущее состояние\\n';\n    responseText += '/poliv - информация о поливе\\n';\n    responseText += '/help - помощь';\n} \nelse if (command === '/help') {\n    responseText = '❓ *Помощь*\\n\\n';\n    responseText += 'Бот автоматически отправляет критические оповещения:\\n';\n    responseText += '• 🔥 Высокая температура\\n';\n    responseText += '• ❄️ Низкая температура\\n';\n    responseText += '• 💧 Высокая влажность\\n';\n    responseText += '• 🏜️ Низкая влажность\\n';\n    responseText += '• 🚨 Низкий уровень воды\\n\\n';\n    responseText += 'Используйте кнопки для подтверждения или отключения оповещений.';\n}\nelse {\n    responseText = 'Неизвестная команда. Используйте /help для списка команд.';\n}\n\nreturn [{\n    json: {\n        chat_id: chatId,\n        text: responseText,\n        parse_mode: 'Markdown'\n    }\n}];"
      },
      "id": "process-simple-commands",
      "name": "Process Simple Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "regex",
              "value2": "^/(status|poliv)$"
            }
          ]
        }
      },
      "id": "if-needs-data",
      "name": "Needs Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        650
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ugagro_readings ORDER BY timestamp DESC LIMIT 1;",
        "options": {}
      },
      "id": "get-readings-for-command",
      "name": "Get Readings For Command",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем trigger data от Filter Message и DB data от PostgreSQL\nconst triggerData = $('Filter Message').first().json;\nconst dbData = $input.first().json;\n\nconst chatId = triggerData.message.chat.id;\nconst command = triggerData.message.text;\n\nlet message = '';\n\nif (command === '/status') {\n  // Преобразуем все значения в числа для статуса\n  const temp = parseFloat(dbData.temperature) || 0;\n  const hum = parseFloat(dbData.humidity) || 0;\n  const water = parseFloat(dbData.water_level) || 0;\n  const outdoorTemp = parseFloat(dbData.outdoor_temperature) || null;\n  const pyrano = parseFloat(dbData.pyrano) || 0;\n  const windowPos = parseInt(dbData.window_position) || 0;\n  \n  message = `🌱 *ТЕПЛИЦА 1*\\n\\n`;\n  message += `🌡️ *Температура:* ${temp.toFixed(1)}°C\\n`;\n  message += `💧 *Влажность:* ${hum.toFixed(1)}%\\n`;\n  message += `🌡️ *Температура улицы:* ${outdoorTemp ? outdoorTemp.toFixed(1) + '°C' : 'н/д'}\\n`;\n  message += `💦 *Уровень раствора:* ${water.toFixed(1)}%\\n`;\n  message += `☀️ *Текущая радиация:* ${pyrano.toFixed(0)} Вт/м²\\n`;\n  message += `🪟 *Положение форточки:* ${windowPos}%\\n`;\n  message += `🕒 *Время ESP32:* ${new Date(dbData.timestamp_iso).toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' })}`;\n  \n} else if (command === '/poliv') {\n  // Преобразуем данные для полива\n  const wateringMode = parseInt(dbData.watering_mode) || 0;\n  const pyrano = parseFloat(dbData.pyrano) || 0;\n  const radSum = parseFloat(dbData.rad_sum) || 0;\n  const wateringDuration = parseInt(dbData.watering_duration_sec) || 200;\n  const radThreshold = parseFloat(dbData.rad_threshold) || 1.1;\n  const maxInterval = parseInt(dbData.max_interval_minutes) || 90;\n  const lastWateringUnix = parseInt(dbData.last_watering_start_unix) || 0;\n  const cycleCount = parseInt(dbData.cycle_count) || 0;\n  const forceActive = dbData.force_watering_active || false;\n  \n  // Окно поливов\n  const windowStart = dbData.watering_window_start || '07:40:00';\n  const windowEnd = dbData.watering_window_end || '17:20:00';\n  \n  // Названия режимов (0=Авто, 1=Ручной, 2=Принудительный)\n  const modeNames = {\n    0: '🤖 Авто',\n    1: '⚙️ Ручной',\n    2: '🔧 Принудительный'\n  };\n  \n  const modeName = modeNames[wateringMode] || '❓ Неизвестный';\n  \n  // Конвертируем radSum из J/m² в MJ/m² для отображения\n  const radSumMJ = radSum / 1000000;\n  \n  // Расчет времени до следующего полива\n  let nextWateringInfo = '';\n  const now = Math.floor(Date.now() / 1000);\n  const timeSinceLastWatering = lastWateringUnix > 0 ? now - lastWateringUnix : 0;\n  const minutesSinceLast = Math.floor(timeSinceLastWatering / 60);\n  \n  // Получаем текущее время в часовом поясе Москвы\n  const currentHour = parseInt(new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow', hour: 'numeric', hour12: false }));\n  const currentMinute = parseInt(new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow', minute: 'numeric' }));\n  const currentMin = currentHour * 60 + currentMinute;\n  \n  // Парсим время окна поливов\n  const [startH, startM] = windowStart.split(':').map(Number);\n  const [endH, endM] = windowEnd.split(':').map(Number);\n  const startMin = startH * 60 + startM;\n  const endMin = endH * 60 + endM;\n  const isInWindow = currentMin >= startMin && currentMin < endMin;\n  \n  if (wateringMode === 0) {\n    // Авто режим - по радиации с учетом максимального интервала\n    const radNeeded = (radThreshold * 1000000) - radSum; // radThreshold в MJ, radSum в J\n    \n    if (radNeeded <= 0) {\n      nextWateringInfo = 'скоро (радиация накоплена)';\n    } else if (pyrano > 0) {\n      // Расчет по радиации\n      const secondsNeeded = Math.floor(radNeeded / pyrano);\n      const minutesNeeded = Math.floor(secondsNeeded / 60);\n      \n      if (minutesNeeded <= maxInterval) {\n        const hours = Math.floor(minutesNeeded / 60);\n        const mins = minutesNeeded % 60;\n        nextWateringInfo = hours > 0 ? `~через ${hours}ч ${mins}мин` : `~через ${mins}мин`;\n      } else {\n        nextWateringInfo = `макс. через ${Math.floor(maxInterval / 60)}ч ${maxInterval % 60}мин`;\n      }\n    } else {\n      // Нет солнца - проверяем макс. интервал\n      const minutesUntilMax = maxInterval - minutesSinceLast;\n      if (minutesUntilMax > 0) {\n        const hours = Math.floor(minutesUntilMax / 60);\n        const mins = minutesUntilMax % 60;\n        nextWateringInfo = hours > 0 ? `через ${hours}ч ${mins}мин (макс. интервал)` : `через ${mins}мин`;\n      } else {\n        nextWateringInfo = 'скоро (макс. интервал)';\n      }\n    }\n  } else if (wateringMode === 1) {\n    // Ручной режим - по интервалу\n    const manualInterval = parseInt(dbData.manual_interval_minutes) || 60;\n    const minutesUntilNext = manualInterval - minutesSinceLast;\n    \n    if (minutesUntilNext > 0) {\n      const hours = Math.floor(minutesUntilNext / 60);\n      const mins = minutesUntilNext % 60;\n      nextWateringInfo = hours > 0 ? `через ${hours}ч ${mins}мин` : `через ${mins}мин`;\n    } else {\n      nextWateringInfo = 'скоро';\n    }\n  } else if (wateringMode === 2) {\n    // Принудительный режим\n    nextWateringInfo = forceActive ? 'идет сейчас' : 'по команде';\n  }\n  \n  // Проверяем окно поливов для следующего полива (кроме принудительного)\n  if (!isInWindow && wateringMode !== 2) {\n    nextWateringInfo = 'вне окна поливов';\n  }\n  \n  // Формируем сообщение\n  message = `💧 *ИНФОРМАЦИЯ О ПОЛИВЕ*\\n\\n`;\n  message += `⚙️ *Режим:* ${modeName}\\n`;\n  message += `☀️ *Текущая радиация:* ${pyrano.toFixed(0)} Вт/м²\\n`;\n  message += `📊 *Накопленная радиация:* ${radSumMJ.toFixed(2)} МДж/м²\\n`;\n  message += `🎯 *Порог радиации:* ${radThreshold.toFixed(1)} МДж/м²\\n`;\n  message += `⏱️ *Длительность полива:* ${wateringDuration} сек\\n`;\n  message += `🔄 *Циклов полива сегодня:* ${cycleCount}\\n`;\n  message += `\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  message += `⏰ *СЛЕДУЮЩИЙ ПОЛИВ:*\\n${nextWateringInfo}\\n\\n`;\n  message += `⏳ *Максимальный интервал:* ${Math.floor(maxInterval / 60)}ч ${maxInterval % 60}мин\\n`;\n  message += `🕐 *Окно поливов:* ${windowStart.substring(0, 5)} - ${windowEnd.substring(0, 5)}\\n`;\n  \n  if (lastWateringUnix > 0) {\n    message += `\\n🕒 *Последний полив:* ${new Date(lastWateringUnix * 1000).toLocaleString('ru-RU')}`;\n  }\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: message,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "id": "format-data-command",
      "name": "Format Data Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        550
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Получаем chat_id из callback_query или message\nlet chatId;\nif (data.callback_query && data.callback_query.message && data.callback_query.message.chat) {\n  chatId = data.callback_query.message.chat.id;\n} else if (data.message && data.message.chat) {\n  chatId = data.message.chat.id;\n} else {\n  console.error('Не найден chat_id. Данные:', JSON.stringify(data));\n  return [];\n}\n\n// Получаем callback_data из разных возможных мест\nlet callbackData = '';\nif (data.callback_query && data.callback_query.data) {\n  callbackData = data.callback_query.data;\n} else if (data.callback_data) {\n  callbackData = data.callback_data;\n} else if (data.data) {\n  callbackData = data.data;\n}\n\n// Если нет callback_data - ошибка\nif (!callbackData) {\n  console.error('Не найден callback_data. Данные:', JSON.stringify(data));\n  return [];\n}\n\n// Парсим: \"ack_high_temperature\" или \"mute_high_temperature_1h\"\nlet alertType = '';\nlet action = '';\n\nif (callbackData.startsWith('ack_')) {\n  action = 'ack';\n  alertType = callbackData.substring(4);\n} else if (callbackData.startsWith('mute_')) {\n  action = 'mute';\n  const parts = callbackData.substring(5).split('_');\n  alertType = parts.slice(0, -1).join('_');\n}\n\n// Обновляем staticData\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.alertStates) {\n  staticData.alertStates = {};\n}\n\nif (!staticData.alertStates[alertType]) {\n  staticData.alertStates[alertType] = { acknowledged: false, mutedUntil: null };\n}\n\nconst state = staticData.alertStates[alertType];\nlet responseText = '';\n\nif (action === 'ack') {\n  state.acknowledged = true;\n  responseText = '✅ Подтверждено. Спам остановлен до нормализации условий.';\n} else if (action === 'mute') {\n  const now = new Date();\n  const muteUntil = new Date(now.getTime() + 60 * 60 * 1000);\n  state.mutedUntil = muteUntil.toISOString();\n  state.acknowledged = true;\n  responseText = '🔕 Оповещения отключены на 1 час.';\n}\n\nstaticData.alertStates[alertType] = state;\n\n// Возвращаем данные для отправки обычного сообщения\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: responseText,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "id": "process-callback",
      "name": "Process Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/sendMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "telegramApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Every 20 Seconds": {
      "main": [
        [
          {
            "node": "Get Latest Readings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Readings": {
      "main": [
        [
          {
            "node": "Check Thresholds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Thresholds": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Callback": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bot": {
      "main": [
        [
          {
            "node": "Filter Callback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Callback": {
      "main": [
        [
          {
            "node": "Process Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Message": {
      "main": [
        [
          {
            "node": "Needs Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Data?": {
      "main": [
        [
          {
            "node": "Get Readings For Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Simple Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Readings For Command": {
      "main": [
        [
          {
            "node": "Format Data Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data Command": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Simple Commands": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-20T00:00:00.000Z",
  "versionId": "1"
}