n8n-greenhouse-integration/workflows/telegram-simple.json
{
  "name": "Telegram Bot Simple",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 20 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Bot",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        600
      ],
      "webhookId": "telegram-bot-simple",
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ugagro_readings ORDER BY timestamp DESC LIMIT 1;",
        "options": {}
      },
      "id": "get-readings",
      "name": "Get Latest Readings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reading = $input.first().json;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.alertStates) {\n  staticData.alertStates = {};\n}\n\nconst states = staticData.alertStates;\n\nconst thresholds = {\n  high_temperature: { \n    field: 'outdoor_temperature', \n    max: 22, \n    message: '🔥 КРИТИЧНО! Температура слишком высокая' \n  },\n  low_temperature: { \n    field: 'outdoor_temperature', \n    min: 18, \n    message: '❄️ КРИТИЧНО! Температура слишком низкая' \n  },\n  high_humidity: { \n    field: 'outdoor_humidity', \n    max: 85, \n    message: '💧 КРИТИЧНО! Влажность слишком высокая' \n  },\n  low_humidity: { \n    field: 'outdoor_humidity', \n    min: 20, \n    message: '🏜️ КРИТИЧНО! Влажность слишком низкая' \n  },\n  low_water_level: { \n    field: 'water_level', \n    min: 5, \n    message: '🚨 КРИТИЧНО! Уровень воды очень низкий!' \n  }\n};\n\nconst alerts = [];\nconst now = new Date();\n\nfor (const [alertType, config] of Object.entries(thresholds)) {\n  const value = parseFloat(reading[config.field]) || 0;\n  \n  if (!states[alertType]) {\n    states[alertType] = { acknowledged: false, mutedUntil: null };\n  }\n  \n  const state = states[alertType];\n  \n  let isCritical = false;\n  if (config.max !== undefined && value > config.max) isCritical = true;\n  if (config.min !== undefined && value < config.min) isCritical = true;\n  \n  const isMuted = state.mutedUntil && new Date(state.mutedUntil) > now;\n  \n  if (isCritical && !state.acknowledged && !isMuted) {\n    alerts.push({\n      alert_type: alertType,\n      message: config.message,\n      current_value: value,\n      threshold_min: config.min,\n      threshold_max: config.max,\n      outdoor_temperature: reading.outdoor_temperature,\n      outdoor_humidity: reading.outdoor_humidity,\n      water_level: reading.water_level\n    });\n  }\n  \n  if (!isCritical && state.acknowledged) {\n    state.acknowledged = false;\n    state.mutedUntil = null;\n  }\n}\n\nstaticData.alertStates = states;\n\nif (alerts.length === 0) {\n  return [];\n}\n\nreturn alerts.map(a => ({ json: a }));"
      },
      "id": "check-thresholds",
      "name": "Check Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const alert = $input.first().json;\nconst chatId = 'УКАЖИТЕ_ВАШ_TELEGRAM_CHAT_ID';\n\nconst currentValue = parseFloat(alert.current_value) || 0;\n\nlet message = `${alert.message}\\n\\n`;\nmessage += `📊 *Текущее значение:* ${currentValue.toFixed(1)}\\n`;\n\nif (alert.threshold_min !== undefined) {\n  message += `⚠️ *Минимум:* ${alert.threshold_min}\\n`;\n}\nif (alert.threshold_max !== undefined) {\n  message += `⚠️ *Максимум:* ${alert.threshold_max}\\n`;\n}\n\nmessage += `\\n━━━━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `\\n📋 *ВСЕ ПОКАЗАТЕЛИ:*\\n`;\nmessage += `🌡️ Температура: ${parseFloat(alert.outdoor_temperature).toFixed(1)}°C\\n`;\nmessage += `💧 Влажность: ${parseFloat(alert.outdoor_humidity).toFixed(1)}%\\n`;\nmessage += `💦 Уровень воды: ${parseFloat(alert.water_level).toFixed(1)}%\\n`;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: message,\n    parse_mode: 'Markdown',\n    reply_markup: {\n      inline_keyboard: [[\n        {text: '✅ Подтвердить', callback_data: `ack_${alert.alert_type}`},\n        {text: '🔕 Отключить на 1ч', callback_data: `mute_${alert.alert_type}_1h`}\n      ]]\n    }\n  }\n}];"
      },
      "id": "format-alert",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/sendMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "telegramApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.alertStates) {\n  staticData.alertStates = {};\n}\n\nlet chatId = '';\nlet responseText = '';\n\n// CALLBACK обработка\nif (data.callback_query) {\n  chatId = data.callback_query.message.chat.id;\n  const callbackData = data.callback_query.data;\n  \n  let alertType = '';\n  let action = '';\n  \n  if (callbackData.startsWith('ack_')) {\n    action = 'ack';\n    alertType = callbackData.substring(4);\n  } else if (callbackData.startsWith('mute_')) {\n    action = 'mute';\n    const parts = callbackData.substring(5).split('_');\n    alertType = parts.slice(0, -1).join('_');\n  }\n  \n  if (!staticData.alertStates[alertType]) {\n    staticData.alertStates[alertType] = { acknowledged: false, mutedUntil: null };\n  }\n  \n  const state = staticData.alertStates[alertType];\n  \n  if (action === 'ack') {\n    state.acknowledged = true;\n    responseText = '✅ Подтверждено. Спам остановлен до нормализации.';\n  } else if (action === 'mute') {\n    const now = new Date();\n    const muteUntil = new Date(now.getTime() + 60 * 60 * 1000);\n    state.mutedUntil = muteUntil.toISOString();\n    state.acknowledged = true;\n    responseText = '🔕 Отключено на 1 час.';\n  }\n  \n  staticData.alertStates[alertType] = state;\n}\n// КОМАНДА обработка\nelse if (data.message && data.message.text) {\n  chatId = data.message.chat.id;\n  const command = data.message.text;\n  \n  if (command === '/start') {\n    responseText = '👋 Привет! Я бот мониторинга теплицы.\\n\\n';\n    responseText += 'Команды:\\n/status - статус\\n/help - помощь';\n  } else if (command === '/status') {\n    responseText = '📊 *Статус*\\n\\nБот активен и мониторит условия.';\n  } else if (command === '/help') {\n    responseText = '❓ *Помощь*\\n\\nБот шлет критические оповещения.\\nИспользуй кнопки для подтверждения.';\n  } else {\n    responseText = 'Неизвестная команда. /help для справки.';\n  }\n}\n\nif (!responseText) {\n  return [];\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: responseText,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "id": "handle-telegram",
      "name": "Handle Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/sendMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "telegramApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Every 20 Seconds": {
      "main": [
        [
          {
            "node": "Get Latest Readings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Readings": {
      "main": [
        [
          {
            "node": "Check Thresholds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Thresholds": {
      "main": [
        [
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bot": {
      "main": [
        [
          {
            "node": "Handle Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Telegram": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-20T00:00:00.000Z",
  "versionId": "1"
}