n8n-greenhouse-integration/workflows/update-watering-settings.json
{
  "name": "UPDATE Watering Settings - Исправление значений",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Запустить Обновление",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Обновление настроек полива до корректных значений\nUPDATE watering_settings\nSET\n    rad_threshold = 1.1,\n    watering_duration_sec = 200,\n    max_interval_minutes = 90,\n    watering_window_start = '07:40:00',\n    watering_window_end = '17:20:00',\n    morning_start_time = '07:40:00',\n    updated_at = NOW()\nWHERE id = 1;\n\n-- Проверить результат\nSELECT\n    'Обновлено успешно' as status,\n    rad_threshold,\n    watering_duration_sec,\n    max_interval_minutes,\n    watering_window_start,\n    watering_window_end,\n    morning_start_time,\n    updated_at\nFROM watering_settings\nWHERE id = 1;",
        "options": {}
      },
      "id": "update-settings",
      "name": "Обновить Настройки",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "greenhouse_db",
          "name": "Greenhouse PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nconst message = `✅ *НАСТРОЙКИ ПОЛИВА ОБНОВЛЕНЫ*\\n\\n📊 *Новые значения:*\\n\\n🎯 *Порог радиации:* ${result.rad_threshold} МДж/м²\\n⏱️ *Длительность полива:* ${result.watering_duration_sec} сек\\n⏳ *Максимальный интервал:* ${result.max_interval_minutes} мин (${Math.floor(result.max_interval_minutes / 60)}ч ${result.max_interval_minutes % 60}мин)\\n🕐 *Окно поливов:* ${result.watering_window_start.substring(0, 5)} - ${result.watering_window_end.substring(0, 5)}\\n🌅 *Утренний полив:* ${result.morning_start_time.substring(0, 5)}\\n\\n🕒 *Обновлено:* ${new Date(result.updated_at).toLocaleString('ru-RU')}\\n\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n✨ Настройки успешно применены!`;\n\nconsole.log(message);\n\nreturn [{ json: { ...result, message, success: true } }];"
      },
      "id": "format-result",
      "name": "Форматировать Результат",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Запустить Обновление": {
      "main": [
        [
          {
            "node": "Обновить Настройки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить Настройки": {
      "main": [
        [
          {
            "node": "Форматировать Результат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-19T09:20:00.000Z",
  "versionId": "1"
}
